{# On étend notre layout #}
{% extends "PouceSiteBundle::layout.html.twig" %}

{# Dans notre layout, il faut définir le block body #}
{% block site_body %}

	<h4>Gestions des droits</h4>

	<div class="row">
		Cliquez sur + pour ajouter le role de chef pouceux à un utilisateur.<br/>
		Cliquez sur - pour supprimer le role de chef pouceux à un utilisateur.
	</div>

	{% for user in users %}
		<div class="row">
			<div class="col s12 m1">
	          	{{ user.id }}
	        </div>
	        <div class="col s12 m3">
	          	{{ user.firstName }} {{ user.lastName }}
	        </div>
	        <div class="col s12 m4">
	          	{{ user.email }}
	        </div>
	        <div class="col s12 m2">
	          	{{ user.created |date("d/m/Y") }}
	        </div>
	        {% if "ROLE_CHEFPOUCEUX" not in user.roles %}
				<div class="col s12 m1">
					<a class="waves-effect waves-light btn" href={{ path('pouce_superAdmin_set_role',{'userId': user.id}) }}><i class="material-icons">add</i></a>
				</div>
			{% else %}
				<div class="col s12 m1 center-align">
					<b>OK</b>
				</div>
				<div class="col s12 m1">
					<a class="waves-effect waves-light btn" href={{ path('pouce_superAdmin_remove_role',{'userId': user.id}) }}><i class="material-icons">remove</i></a>
				</div>
			{% endif %}
	    </div>
	{% endfor %}

{% endblock %}
