{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr"
	  xmlns:fb="http://ogp.me/ns/fb#" >

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="favicon.png" />
	<title>Pouce d'Or : Le site officiel !</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	
	<!-- Balise meta pour Google (textes ...) -->
	<meta name="description" content="Le Pouce d'Or, c'est LE concours de stop des écoles d'ingénieurs, de commerce et d'éducation supérieurs. 
	
	Le but : Aller le plus loin possible et revenir en stop en 48h.
	
	Tu te sens l'âme d'aventurier : prends ton sac, trouve ton équipier et c'est partie !" />
	
	<!-- Balise meta pour une bonne apparition sur Facebook -->
	<meta property= "og:title" content= "Pouce d'Or : Le site officiel !" />
	<meta property= "og:description" content= "Le concours de stop des écoles d'ingénieurs, de commerce et d'éducation supérieurs. 
	Le but : Aller le plus loin possible et revenir en stop en 48h." />
	<meta property="og:image" content="http://www.poucedor.fr/images/poucelogositefb.jpg" />
	<meta property="og:url" content="http://www.poucedor.fr" />
	
 	<!--[if lt IE 9]>
 	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  	<![endif]-->
  	
  	<link rel="shortcut icon" href="{{ asset('images/favicon.png') }}" type="image/x-icon"/>
	
	{# Sir-trevor #}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/sir-trevor.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/sir-trevor-icons.css') }}"/>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="{{ asset('js/underscore.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/eventable.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/sir-trevor.js') }}"></script>
	
	{# Full Page JS #}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/jquery.fullPage.css') }}" />
	<script type="text/javascript" src="{{ asset('js/jquery.fullPage.min.js') }}"></script>

	{# MaterializeCSS #}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/materialize.min.css') }}" media="screen,projection"/>
  	<link href="{{ asset('css/styles.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>

	<!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<script src="{{ asset('js/materialize.min.js') }}"></script>
	<script src="{{ asset('js/init.js') }}"></script>

	{% block stylesheets %}{% endblock %}

</head>
	<body>
	<div id="top" class="scrollspy">
	</div>
  	<!--start menu-->
  	<div id="navbar" class="navbar-fixed scrollspy">
		<nav class="white" id="navcolor" role="navigation">
		    <div class="nav-wrapper container">
		    	<a id="logo-container" href="{{ path('pouce_site_homepage') }}" class="brand-logo"><img src="{{ asset('images/poucelogosite.png')}}" width="172" height="55" style="margin-top : 2px"alt="logo"/></a>
		    	{# <ul class="right hide-on-med-and-down">
			    	<li><a href="#">Navbar Link</a></li>
			    </ul>

			    <ul id="nav-mobile" class="side-nav">
			        <li><a href="#">Navbar Link</a></li>
			    </ul> #}

			    {{ knp_menu_render('main') }}
			    {{ knp_menu_render('mobile') }}
				{# 	{{ render(controller("PouceSiteBundle:Pouce:menu", {'page':'inscription'})) }} #}
				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
			</div>
		</nav>
	</div>

	{% block body %}
	{% endblock %} 

	<footer class="page-footer">
      	<div class="container">
	        <div class="row">
	          	<div class="col l6 s12">
	            	<h5 class="white-text">Nous contacter</h5>
	            	<p class="grey-text text-lighten-4">Vous pouvez nous contacter par mail ou sur notre page Facebook. Nous essayerons de vous répondre au plus vite.</p>
	            	<p>Contact : <a href="mailto:staff@poucedor.fr?Subject=ContactSiteWeb">Organisateurs</a></p>
	          	</div>
	          	<div class="col l4 offset-l2 s12">
	            	<h5 class="white-text">Liens utiles</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="{{ path('pouce_site_organisateurs') }}">Les organisateurs</a></li>
                  <li><a class="grey-text text-lighten-3" href="{{ path('pouce_site_licence') }}">Licences du site</a></li>
                </ul>
	          	</div>
	        </div>
	    </div>
	    <div class="footer-copyright">
	        <div class="container">
	        	<!-- 
					Site internet : Olivier : olivier.nguyen-quoc@eleves.ec-nantes.fr			
				-->
		        © 2015 Le Pouce d'Or
		        <a class="grey-text text-lighten-4 right" href="{{ path('pouce_site_organisateurs') }}">Page des organisateurs</a>
	        </div>
      	</div>
    </footer>
		
	</body>
</html>