<ul id="nav-mobile" class="side-nav">
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a class="collapsible-header waves-effect waves-teal">Le Pouce d'Or<i class="material-icons right">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="{{path('pouce_site_asso')}}">L'association</a></li>
                        <li><a href="{{path('pouce_site_regles')}}">Règles</a></li>
                        <li><a href="{{path('pouce_site_conseils')}}">Conseils et recommandations</a></li>
                        <li><a href="{{path('pouce_site_liens')}}">Liens</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold">
                <a class="collapsible-header waves-effect waves-teal">Edition 2015<i class="material-icons right">arrow_drop_down</i></a>
                <div class="collapsible-body" style="display: block;">
                    <ul>
                        <li><a href="{{path('fos_user_registration_register')}}">S'incrire</a></li>
                        <li><a href="{{path('pouce_site_inscription_ecole')}}">Inscrire son école</a></li>
                        <li><a href="{{path('pouce_site_homepage')}}">Listes des inscrits</a></li>
                        <li><a href="{{path('pouce_site_edition')}}">Edition 2015</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="bold">
        <a href="{{path('pouce_site_archives')}}" class="waves-effect waves-teal">Archives</a>
    </li>
    <li class="bold">
        <a href="{{path('pouce_site_records')}}" class="waves-effect waves-teal">Top 25</a>
    </li>
</ul>
