{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

{# On étend notre layout #}
{% extends "PouceSiteBundle::layout.html.twig" %}

{% block javascript %}

	{% javascripts filter='?yui_js'
		'js/jquery-ui.js'
		'js/autocompleter-jqueryui.js'
		'js/position.js' %}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}

	<script>
		$(document).ready(function() {
			$('select').material_select();
			$('#lateness').hide();
			$('#inTime').change(function(){
			    var c = this.checked ? $('#lateness').show() : $('#lateness').hide();
			});

		});
	</script>

{% endblock %} 

{# Dans notre layout, il faut définir le block body #}
{% block site_body %}

	<h3>Rentre le résultat de ta course</h3>

	<form method="post" {{ form_enctype(resultForm) }} action="{{ path('pouce_result_add', { 'editionId': app.request.get('editionId') })}}">

		{# Les erreurs générales du formulaire. #}
		{{ form_errors(resultForm) }}

	<h3>Rentre le résultat de ta course</h3>

	<form method="post" {{ form_enctype(resultForm) }} action="{{ path('pouce_result_add', { 'editionId': app.request.get('editionId') })}}">

		{# Les erreurs générales du formulaire. #}
		{{ form_errors(resultForm) }}

		<h4>Votre destination</h4>

		<div class="row">
			Destination la plus loin atteinte :
				{% if result.position.city is not null %}
				{{result.position.city.name}}, {{result.position.city.country.name}}
				{% else %}
					Pas partis
				{% endif %}
			 (<a>Modifier</a>)
		</div>

		<div class="row">
			{{ form_label(resultForm.nbCar) }}
			{{ form_widget(resultForm.nbCar) }}
		</div>

		<div class="row">
			<div class="switch">
				Avez-vous réussit à revenir en stop ? :   
				<label>
					Non {{ form_widget(resultForm.isValid) }}
					<span class="lever"></span>
					Oui
				</label>
			</div>
		</div>

		<div class="row">
			<div class="switch">
				Êtes-vous arrivé à temps ? :    
				<label>
					Non <input id="inTime" type="checkbox"> {# {{ form_widget(resultForm.isValid) }} #}
					<span class="lever"></span>
					Oui
				</label>
			</div>
		</div>
		<div id="lateness">
			<div class="row">
				De combien de temps étiez-vous en retard ? : {{ form_row(resultForm.lateness) }}
			</div>
		</div>

		<h5> Donne ton avis sur l'évènement <h6>

		<p>
			Cette partie est <b>obligatoire</b>> et très importante pour nous. Merci de répondre sincèrement. N'hésite pas à être précis que ton avis soit positif ou négatif.
			Merci !
		</p>

		<div class="row">
			Donne nous ton ressentiment sur l'évènement :    
			{{ form_widget(resultForm.avis) }}
		</div>

		<div class="row">
			<div class="switch">
				Aurais-tu été d'accord de porter un gillet jaune, fourni gratuitement, avec un sponsort du Pouce d'Or imprimé coté torse ou coté dos :    
				
				<label>
						Non {{ form_widget(resultForm.sponsort) }} <input type="checkbox">
						<span class="lever"></span>
						Oui
					</label>
				</div>
			</div>
		</div>


{# 		{{ form_rest(resultForm) }} #}

		<input type="submit" class="btn btn-primary" /> 
	</form>

{% endblock %}