{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

{# On étend notre layout #}
{% extends "PouceSiteBundle::layout.html.twig" %}

{# Dans notre layout, il faut définir le block body #}
{% block body %}

	<h3>Formulaire d'inscription</h3>

	<form method="post" {{ form_enctype(teamForm) }}>

		{# Les erreurs générales du formulaire. #}
		{{ form_errors(teamForm) }}

		<div class="cadre1">
			<p4>YEAAAAH + Info user</p4>
			{{ form_label(teamForm.users, "User") }}
			{{ form_widget(teamForm.users) }}
		</div>

		<div class="cadre2">
			<p4>YEAH</p4>
		</div>

		<div class="cadre3">
			{{ form_rest(teamForm) }}
		</div>
		<input type="submit" class="btn btn-primary" /> 
	</form>

{% endblock %}