{# On étend notre layout #}
{% extends "PouceSiteBundle::layout.html.twig" %}

{# Dans notre layout, il faut définir le block body #}
{% block site_body %}

	<h3>Résultat final : {{ team.teamName|capitalize }}</h3>

	<div class="row">
		<div class="col s12 m12">
			<div id="map"></div>
		</div>
	</div>

	{% if html != NULL %}
		<div class="row">
			<div class="col s12 m12">

					{{ html | raw }}

			</div>
		</div>
	{% endif %}

{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('css/leaflet.css') }}" />
	<link rel="stylesheet" href="{{ asset('css/leaflet-routing-machine.css') }}" />
{% endblock %}

{% block javascript %}
	{{ parent() }}

	<script src="{{ asset('js/leaflet-src.js') }}"></script>
	<script src="{{ asset('js/leaflet-routing-machine.js') }}"></script>
	<script>
	// TODO : Problem with draw lines
	function initmap() {
		var positionFinal = L.latLng({{ result.position.city.latitude }},{{ result.position.city.longitude }});

		var map = L.map('map').setView(positionFinal,9);

		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
		    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);
		var school = L.latLng({{ school.city.latitude }},{{ school.city.longitude }});
		L.marker([{{ school.city.latitude }},{{ school.city.longitude }}]).addTo(map);
		
		var Waypoints = [school];

		{% for position in positions %}
			var point = L.latLng({{ position.city.latitude }},{{ position.city.longitude }});
			Waypoints.push(point);
			L.marker([{{ position.city.latitude }},{{ position.city.longitude }}]).addTo(map);
		{% endfor %}

		Waypoints.push(school);

		// var route2 = L.Routing.control({
		// 	waypoints: [
		// 		L.latLng(40.74119, -73.9925),
		// 		L.latLng(40.73573, -73.99302)
		// 	]
		// }).addTo(map);

		var route = L.Routing.control({
			waypoints: Waypoints,
			lineOptions: {
				styles: [
					{color: '#19afc3', opacity: 0.8, weight: 9},
					{color: '#00ffb4', opacity: 0.8, weight: 6},
					{color: '#00fdf6', opacity: 1, weight: 2}
				],
				missingRouteStyles: [
	                {color: 'black', opacity: 0.15, weight: 7},
	                {color: 'white', opacity: 0.6, weight: 4},
	                {color: 'gray', opacity: 0.8, weight: 2, dashArray: '7,12'}
            	],
				addWaypoints: false
			}
		});

		route.addTo(map);

		// Trajet calculé en réalité

		// var Waypoints2 = [school];

		// Waypoints2.push(positionFinal);

		// L.Routing.control({
		// 	waypoints: Waypoints2
		// }).addTo(map);

		console.log(route);

		var line = L.Routing.line(route);
		var bounds = line.getBounds();
		map.fitBounds(bounds);

		//L.Routing.errorControl(control).addTo(map);

	    // start the map in South-East England
	}
	window.onload = initmap;
	</script>
{% endblock %}
