{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

	<h1>La carte</h1>

	<div class="row">
		<div class="col s12">
			<div id="map"></div>
		</div>
	</div>

{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
{% endblock %}

{% block javascript %}
	<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
	<script>
	$(document).ready(function() {
		var map = L.map('map').setView([48.8534, 2.3486], 4);

		L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
		    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);

		{% for result in results %}
		var textPoint = '<b>Equipe</b> '+ '{{ result.team.teamName }}' +' <br/>'+ 
			{% for user in result.team.users %}
				'{{user.firstName}}'+' '+ '{{user.lastName}}'
				{% if loop.first %}
					+' '+'et'+' '+
				{% endif %}
			{% endfor %};
		var marker = L.marker([ {{ result.position.city.latitude }}, {{ result.position.city.longitude }}]).addTo(map)
    		.bindPopup(textPoint)
    	{% endfor %}
    });
	</script>
{% endblock %}
