{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block body %}

<div class="archivesBlock">

{#     <h3>Archives</h3> #}

    <div class="row textIntro">
        <p>
            Tu es ici dans le vatican du Pouce d'Or.
            <br>
            Ici repose en paix, la mémoire des vétérans du Pouce d'Or qui sont aujourd'hui des gens très serieux (ou pas). mais qui gardent en eux le souvenir d'un week-end démentiel passé à silloner les routes d'Europe, ou de France, ou de la Loire-Atlantique.
        </p>
    </div>

    <div class="row">
        <div class="col s12 m4">
            <div class="card-panel hoverable archives">
                <img class="responsive-img" alt="Editions précédentes" src="{{asset('images/essaie2.jpg')}}">
                <article class="article">
                    <h3>Editions précédentes</h3>
                    <p>
                        Le pouce d'or existe depuis très longtemps. Mais toute trace écrite, l'histoire donc, ne débute qu'en 2003.
                    </p>
                    <a href="{{path('pouce_site_editions_precedente')}}" class="waves-effect waves-light btn">Regarder</a>
                </article>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card-panel hoverable archives">
                <img class="responsive-img" alt="Photos" src="{{asset('images/IconePhoto.jpg')}}">
                <article class="article">
                    <h3 style="font-size: 1.6em; color: #818485;">Photos</h3>
                    <p>
                        Toutes les photos envoyées aux organisateurs.<br/>
                        Envoie-nous tes photos !
                    </p>
                    <a href="{{path('pouce_site_galery')}}" class="waves-effect waves-light btn" >Regarder</a>
                </article>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="card-panel hoverable archives">
                <img class="responsive-img" alt="Vidéos" src="{{asset('images/video.jpg')}}">
                <article class="article">
                    <h3 style="font-size: 1.6em; color: #818485;">Vidéos</h3>
                    <p>
                        Toutes les vidéos faites pour la promotion du Pouce d'Or. <br/>
                        Envoie-nous tes liens Youtube !
                    </p>
                    <a href="{{path('pouce_site_videos')}}" class="waves-effect waves-light btn" >Regarder</a>
                </article>
            </div>
        </div>

        <div class="col s12 m4 offset-m4">
            <div class="card-panel hoverable archives">
                <img class="responsive-img" alt="Vidéos" src="{{asset('images/apercuPresse.png')}}">
                <article class="article">
                    <h3 style="font-size: 1.6em; color: #818485;">Presse et autres</h3>
                    <p>
                        Quand d'autres personnes parlent de nous !
                    </p>
                    <a href="{{path('pouce_site_presse')}}" class="waves-effect waves-light btn" >Regarder</a>
                </article>
            </div>
        </div>
    </div>

</div>

{% endblock %}
