{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

<h1>Edition 2009</h1>

<img src="{{asset('images/Carte2009_petite.jpg')}}" class="responsive-img" alt="MAP" />

<h2>Responsable : Jonas</h2>

<p>
    <b><u>Particularité :</u></b> Une participation incroyable (46 binômes) malgré un temps très mauvais!
    <br/> Week end très difficile pour le stop: beaucoup d'échecs, pas de nouveau records.
    <br/> Les limites à l'Est ont encore été repoussées : pas de nouveau record mais un binôme est allé jusqu'en Pologne!
    <br/> Hélas ils sont rentrés avec 24H de retard (mais en stop,ce sont des vrais)
    <br/> Beaucoup de binômes rentrés en train et Monaco rentre dans la carte des frontières atteintes.
    <br/>
    <br/> Distances à l'aide de Mappy - trajets le plus court
</p>

<div class="section">
    <table class="hoverable centered">
        <thead>
            <tr>
                <th>Classement</th>
                <th>Ville</th>
                <th>Team</th>
                <th>km</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Munich <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"> </td>
                <td>Tobias & AnaÎlle</td>
                <td>1211 km</td>
            </tr>
            <tr>
                <td>1</td>
                <td>Munich <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"></td>
                <td>Loic & Angelo</td>
                <td>1211 km</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Stuttgart <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"></td>
                <td>Mathieu & Jehane</td>
                <td>1001 km</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Francfort <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"></td>
                <td>MaÎlle & Guilhem</td>
                <td>944 km</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Eisenberg (Pfalz) <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"></td>
                <td>Gabriel & Jonas</td>
                <td>857 km</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Breda <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>Julien & Claire</td>
                <td>775 km</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Breda <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>Maxime & Sébastien</td>
                <td>775 km</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Saarbrucken <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"></td>
                <td>Marion & Leopold</td>
                <td>766 km</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Liège <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>Lucie & Karim</td>
                <td>745 km</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Marinda <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0"></td>
                <td>Julie & Antoine</td>
                <td>719 km</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Marinda <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0"></td>
                <td>Jonas & Antoine</td>
                <td>719 km</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Monaco <img src="{{asset('images/pays/mon.jpg')}}" alt="Monaco" border="0"></td>
                <td>Nicolas & Marion</td>
                <td>700 km</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Luxembourg <img src="{{asset('images/pays/lux.png')}}" alt="Luxembourg" border="0"></td>
                <td>Fabien & Benjamin</td>
                <td>700 km</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Brin sur seille <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>Marc & Vincent</td>
                <td>697 km</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Vitoria-Gasteiz <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0"></td>
                <td>Thiago & Katinka</td>
                <td>685 km</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Bruxelles <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>Yves-Marie & Cyrine</td>
                <td>675 km</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Bruxelles <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>Tanguy & Joffray</td>
                <td>675 km</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Pamplone <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0"></td>
                <td>Flore & Maxime</td>
                <td>642 km</td>
            </tr>
            <tr>
                <td>19</td>
                <td>Saint Sebastien <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0"></td>
                <td>Julien & Antoine</td>
                <td>588 km</td>
            </tr>
            <tr>
                <td>19</td>
                <td>Saint Sebastien <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0"></td>
                <td>Olivier & NoÎl</td>
                <td>588 km</td>
            </tr>
            <tr>
                <td>21</td>
                <td>Irun <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0"></td>
                <td>Marco & Pedro</td>
                <td>570 km</td>
            </tr>
            <tr>
                <td>22</td>
                <td>Toulouse <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>Fereol & Marion</td>
                <td>567 km</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Cologne <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"> </td>
                <td>Maud & FranÁois-Michel</td>
                <td>562 km</td>
            </tr>
            <tr>
                <td>24</td>
                <td>Offenburg <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"></td>
                <td>RaphaÎl & Baptiste</td>
                <td>561 km</td>
            </tr>
            <tr>
                <td>25</td>
                <td>Paris <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>Emmanuel & Pierre</td>
                <td>380 km</td>
            </tr>
            <tr>
                <td>26</td>
                <td>Rouen <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"> </td>
                <td>Terence & Jeremy</td>
                <td>376 km</td>
            </tr>
            <tr>
                <td>27</td>
                <td>Rouen <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>Guillaume & Fabien</td>
                <td>376 km</td>
            </tr>
            <tr>
                <td>28</td>
                <td>Cubzac-les-ponts <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>Benjamin & Simon</td>
                <td>329 km</td>
            </tr>
            <tr>
                <td>28</td>
                <td>Bordeaux <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"> </td>
                <td>Ion & Thibault</td>
                <td>329 km</td>
            </tr>
            <tr>
                <td>30</td>
                <td>Bordeaux <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"> </td>
                <td>Flavio & Roberto</td>
                <td>329 km</td>
            </tr>
            <tr>
                <td>31</td>
                <td>Angers <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>Gauthier & Eddy</td>
                <td>86 km</td>
            </tr>
            <tr>
                <td>32</td>
                <td>Carquefou <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>Nicolas & Florian</td>
                <td>9 km</td>
            </tr>
            <tr>
                <td>33</td>
                <td>Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays Bas" border="0"></td>
                <td>Rémi & Alice</td>
                <td>-218 km</td>
            </tr>
            <tr>
                <td>34</td>
                <td>Poznan <img src="{{asset('images/pays/pol.png')}}" alt="Pologne" border="0"></td>
                <td>Florian & Victor</td>
                <td>-728 km</td>
            </tr>
            <tr>
                <td>35</td>
                <td>Barcelone <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0"></td>
                <td>Valentin & Fabien</td>
                <td>Eliminé : Train</td>
            </tr>
            <tr>
                <td>36</td>
                <td>Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays Bas" border="0"></td>
                <td>Lisa & Paul</td>
                <td>Eliminé : Train</td>
            </tr>
            <tr>
                <td>36</td>
                <td>Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays Bas" border="0"></td>
                <td>Charles & Typhaine</td>
                <td>Eliminé : Train</td>
            </tr>
            <tr>
                <td>38</td>
                <td>Cologne <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"></td>
                <td>Simon & Caroline</td>
                <td>Eliminé : Train</td>
            </tr>
            <tr>
                <td>39</td>
                <td>Rotterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays Bas" border="0"></td>
                <td>Mériadec & Robin</td>
                <td>Eliminé : Train</td>
            </tr>
            <tr>
                <td>40</td>
                <td>Anvers <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>Loic & Yann</td>
                <td>Eliminé : Train</td>
            </tr>
            <tr>
                <td>41</td>
                <td>Luxembourg <img src="{{asset('images/pays/lux.png')}}" alt="Luxembourg" border="0"> </td>
                <td>Charles & Antoine</td>
                <td>Eliminé : A pris sa voiture</td>
            </tr>
            <tr>
                <td>41</td>
                <td>Luxembourg <img src="{{asset('images/pays/lux.png')}}" alt="Luxembourg" border="0"></td>
                <td>Axel & Vincent</td>
                <td>Eliminé : Train</td>
            </tr>
            <tr>
                <td>43</td>
                <td>Lille <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>Marc-Antoine & Victor</td>
                <td>Eliminé : Train</td>
            </tr>
            <tr>
                <td>44</td>
                <td>Paris <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>Jean-Baptiste & Matias</td>
                <td>Eliminé : Train</td>
            </tr>
            <tr>
                <td>45</td>
                <td>Rouen <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>Geoffrey & Clément</td>
                <td>Eliminé : Train</td>
            </tr>
            <tr>
                <td>46</td>
                <td>Caen <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>Claire & Arthur</td>
                <td>Eliminé : Train</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
