{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

<h1>Edition 2011</h1>

<img src="{{asset('images/Carte 2011_petite.jpg')}}" class="responsive-img" alt="MAP" />

<h3>Responsables: Gautier et Anne</h3>

<p>
    <b><u>Particularité :</u></b> 60 binômes : un record !
    <br/> 17% d'abandon... une très dure année...
    <br/> Un record à Enschede, aux Pays-Bas.
    <br/> 40 102 km parcourus, et 7 pays conquis !
</p>

<div class="section">
    <table class="hoverable centered">
        <thead>
            <tr>
                <th>Classement</th>
                <th>Equipe</th>
                <th>Prénoms</th>
                <th>Destination</th>
                <th>km</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Les Pouces-Mouss'</td>
                <td>Sophie & Julien</td>
                <td> Enschede <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0"></td>
                <td>952</td>
                <td>952</td>
            </tr>
            <tr>
                <td>2</td>
                <td>La team rocket</td>
                <td>Aline & Alexis</td>
                <td> Francfort <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"></td>
                <td>925</td>
                <td>925</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Les Pouces Poussent</td>
                <td>Emma & Maxime</td>
                <td> Francfort <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"></td>
                <td>925</td>
                <td>925</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Les dépoussolés</td>
                <td>Isabelle & Stéphane</td>
                <td> Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0"></td>
                <td>875</td>
                <td>915 (corvette)</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Les Thumb It Up !</td>
                <td>Maud & Will</td>
                <td> Bottrop <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"></td>
                <td>883</td>
                <td>883</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Le petit Poucet suÁant son pouce</td>
                <td>Hortense & Alexandre</td>
                <td> Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0"></td>
                <td>875</td>
                <td>875</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Les Bonnasses Dias !</td>
                <td>Adriana & Joaquim</td>
                <td> Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0"></td>
                <td>875</td>
                <td>875</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Os Viajantes</td>
                <td>Bianca & Jérémy</td>
                <td> Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0"></td>
                <td>875</td>
                <td>875</td>
            </tr>
            <tr>
                <td>9</td>
                <td>A-team</td>
                <td>Mathilde & Carlos</td>
                <td> Barcelone <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0"></td>
                <td>872</td>
                <td>872</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Les jeunes pouces</td>
                <td>Julien & Gautier</td>
                <td> Offenburg <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"></td>
                <td>851</td>
                <td>851</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Les Bonobos!</td>
                <td>Jennifer & Romain</td>
                <td> Cologne <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"></td>
                <td>843</td>
                <td>843</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Octopouce</td>
                <td>Maud & Sylvain</td>
                <td> Utrecht <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0"></td>
                <td>841</td>
                <td>841</td>
            </tr>
            <tr>
                <td>13</td>
                <td>VolePasMonSac</td>
                <td>Mathurin & Thibault</td>
                <td> Francfort <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"></td>
                <td>925</td>
                <td>825 (Retard)</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Les Poussy Wagon</td>
                <td>Qi & Adrien</td>
                <td> Strasbourg <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>820</td>
                <td>820</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Commandants Pouce tôt</td>
                <td>Maxime & Olivier</td>
                <td> Rotterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0"></td>
                <td>816</td>
                <td>816</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Pouce & madame!</td>
                <td>Lise & LoÔc</td>
                <td> Figueres <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0"></td>
                <td>814</td>
                <td>814</td>
            </tr>
            <tr>
                <td>17</td>
                <td>Pouce le Monde</td>
                <td>Maylie & Jiabin</td>
                <td> Eindhoven <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0"></td>
                <td>802</td>
                <td>802</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Les impous'teurs</td>
                <td>Laurent & Julien</td>
                <td> Tilburg <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0"></td>
                <td>793</td>
                <td>793</td>
            </tr>
            <tr>
                <td>19</td>
                <td>Les Mads Lascars</td>
                <td>Florian & Boris</td>
                <td> Breda <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0"></td>
                <td>771</td>
                <td>771</td>
            </tr>
            <tr>
                <td>20</td>
                <td>Thumb Hang</td>
                <td>Guillaume & Antoine</td>
                <td> Barchon <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>738</td>
                <td>738</td>
            </tr>
            <tr>
                <td>21</td>
                <td>A l'arrache</td>
                <td>Romain & Maxime</td>
                <td> Montpellier <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>734</td>
                <td>734</td>
            </tr>
            <tr>
                <td>22</td>
                <td>Os Trapouceiros</td>
                <td>Julian & Vincent</td>
                <td> Anvers <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>723</td>
                <td>723</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Black ceintures</td>
                <td>Mathieu & Thomas</td>
                <td> Bruxelles <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>681</td>
                <td>681</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Les épouce'touflants</td>
                <td>Paloma & BenoÓt</td>
                <td> Bruxelles <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>681</td>
                <td>681</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Les grosses joues</td>
                <td>Lei & David</td>
                <td> Bruxelles <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>681</td>
                <td>681</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Les Pouces tout flans</td>
                <td>Camille & Louis</td>
                <td> Bruxelles <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>681</td>
                <td>681</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Les Pouss'iéreux</td>
                <td>Antoine & Florian</td>
                <td> Bruxelles <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>681</td>
                <td>681</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Les SDF</td>
                <td>Thibault & Kévin</td>
                <td> Bruxelles <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>681</td>
                <td>681</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Les Toupouss' hein</td>
                <td>Mélissa & Alexandre</td>
                <td> Bruxelles <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>681</td>
                <td>681</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Black ceintures</td>
                <td>Mathieu & Thomas</td>
                <td> Bruxelles <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>681</td>
                <td>681</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Marco Polo</td>
                <td>Alessandra & Thibault</td>
                <td> Bruxelles <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>681</td>
                <td>681</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Pouces de soja</td>
                <td>Mathilde & Maxime</td>
                <td> Bruxelles <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>681</td>
                <td>681</td>
            </tr>
            <tr>
                <td>32</td>
                <td>Pouces et Nous !</td>
                <td>Mathilde & Baptiste</td>
                <td> Lille <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>595</td>
                <td>595</td>
            </tr>
            <tr>
                <td>33</td>
                <td>Les FantaSM'O'S ambulants</td>
                <td>Anne-Julie & Adrien</td>
                <td> Toulouse <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>557</td>
                <td>557</td>
            </tr>
            <tr>
                <td>33</td>
                <td>M & M's</td>
                <td>Marie & Marc</td>
                <td> Toulouse <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>557</td>
                <td>557</td>
            </tr>
            <tr>
                <td>33</td>
                <td>Pouce plus loin !</td>
                <td>Florian & Ludovic</td>
                <td> Toulouse <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>557</td>
                <td>557</td>
            </tr>
            <tr>
                <td>36</td>
                <td>Damdam</td>
                <td>Arthur & Paul-Emile</td>
                <td> Paris <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>381</td>
                <td>381</td>
            </tr>
            <tr>
                <td>36</td>
                <td>Les petits poucets trempés</td>
                <td>Laure & Alban</td>
                <td> Paris <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>381</td>
                <td>381</td>
            </tr>
            <tr>
                <td>38</td>
                <td>Les 2 poucequetaires</td>
                <td>Ouessanne & Vincent</td>
                <td> Bordeaux <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>324</td>
                <td>324</td>
            </tr>
            <tr>
                <td>39</td>
                <td>Les chocolatines</td>
                <td>Guillaume & Thomas</td>
                <td> Brest <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>296</td>
                <td>296</td>
            </tr>
            <tr>
                <td>40</td>
                <td>Trenavec</td>
                <td>Laure & Vincent</td>
                <td> Ploumanach <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>275</td>
                <td>275</td>
            </tr>
            <tr>
                <td>41</td>
                <td>Opoussum and big pouce</td>
                <td>Franck & Romain</td>
                <td> Joué-les-tours <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>198</td>
                <td>198</td>
            </tr>
            <tr>
                <td>42</td>
                <td>Les Pouce toi de là</td>
                <td>Clément & Antoine</td>
                <td> Tours <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>194</td>
                <td>194</td>
            </tr>
            <tr>
                <td>43</td>
                <td>French Fries & Riz Cantonnais</td>
                <td>Xue-Ying & Benoit</td>
                <td> Saint Malo <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>175</td>
                <td>175</td>
            </tr>
            <tr>
                <td>44</td>
                <td>Jacquouille</td>
                <td>Jean-Baptiste & Maxime</td>
                <td> Rennes <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>107</td>
                <td>107</td>
            </tr>
            <tr>
                <td>45</td>
                <td>F≤</td>
                <td>Fabio & Fabrizia</td>
                <td> Périphérie de Nantes <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>4</td>
                <td>4</td>
            </tr>
            <tr>
                <td>46</td>
                <td>Les latins lover</td>
                <td>Merwan & Antoine</td>
                <td> Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0"></td>
                <td>875</td>
                <td>-325 (retard)</td>
            </tr>
            <tr>
                <td>47</td>
                <td>Tourist goldfingers</td>
                <td>Rebecca & Jon</td>
                <td> Bruxelles <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>681</td>
                <td>-419 (retard)</td>
            </tr>
            <tr>
                <td>48</td>
                <td>Poupouce et Moumousse</td>
                <td>Blanca & Valentin</td>
                <td> Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0"></td>
                <td>875</td>
                <td>-660 (retard)</td>
            </tr>
            <tr>
                <td>49</td>
                <td>Les petits poucés poucycat fusion !</td>
                <td>Nicolas & Maxime</td>
                <td> Hanovre <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"></td>
                <td>1122</td>
                <td>0 (abandon)</td>
            </tr>
            <tr>
                <td>50</td>
                <td>Tu pouces le bouchon un peu trop loin</td>
                <td>Clémentine & Julien</td>
                <td> Emsteck <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"></td>
                <td>1077</td>
                <td>0 (abandon)</td>
            </tr>
            <tr>
                <td>51</td>
                <td>Les géants</td>
                <td>Benoit & Mathieu</td>
                <td> Francfort <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"></td>
                <td>925</td>
                <td>0 (abandon)</td>
            </tr>
            <tr>
                <td>52</td>
                <td>Les Poucitions Un Deux !</td>
                <td>Patricia & Pierre</td>
                <td> Arnhem <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0"></td>
                <td>827</td>
                <td>0 (abandon)</td>
            </tr>
            <tr>
                <td>53</td>
                <td>La Just'Team Bieber</td>
                <td>Clément & Yannick</td>
                <td> Breda <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0"></td>
                <td>771</td>
                <td>0 (abandon)</td>
            </tr>
            <tr>
                <td>54</td>
                <td>STAFF Club PÍche</td>
                <td>FranÁois & Paul</td>
                <td> Anvers <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>723</td>
                <td>0 (partis la veille)</td>
            </tr>
            <tr>
                <td>55</td>
                <td>Tintin chez les Pouceaux</td>
                <td>Guillaume & Nils</td>
                <td> Bruxelles <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>681</td>
                <td>0 (abandon)</td>
            </tr>
            <tr>
                <td>56</td>
                <td>PAUNOCUDAUSP</td>
                <td>Pedro & Gustavo</td>
                <td> Lyon <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>658</td>
                <td>0 (partis de Lille)</td>
            </tr>
            <tr>
                <td>57</td>
                <td>à l'ar'H</td>
                <td>Pauline & Rémi</td>
                <td> Toulouse <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>557</td>
                <td>0 (abandon)</td>
            </tr>
            <tr>
                <td>58</td>
                <td>Les Lilipouciens</td>
                <td>Laure & Alex</td>
                <td> Paris <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>381</td>
                <td>0 (abandon)</td>
            </tr>
            <tr>
                <td>59</td>
                <td>Queso negro</td>
                <td>Morgane & Quentin</td>
                <td> Bordeaux <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>324</td>
                <td>0 (abandon)</td>
            </tr>
            <tr>
                <td>60</td>
                <td>Les Hobbits</td>
                <td>Camille & Thanh Tu</td>
                <td> Orléans <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>302</td>
                <td>0 (abandon)</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
