{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

<h1>Edition 2005</h1>

<img src="{{asset('images/map2005.png')}}" class="responsive-img" alt="MAP" />

<p>
    <b><u>Particularité :</u></b> Très mauvais temps. 15 binomes inscrits, 5 binomes partis !
    <br/> En revanche, les equipes ont été très efficaces : 4/5 à l'étranger. BRAVO
    <br/>
    <br/> Que cela ne recommence jamais ! => Règle n°5 !!!
    <br/> Distances calculées à vol d'oiseau.
</p>

<div class="section">
    <table class="hoverable centered">
        <thead>
            <tr>
                <th>Classement</th>
                <th>Ville</th>
                <th>km</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pouce d'Or</td>
                <td>Madrid <img src="{{asset('images/pays/esp.png')}}" alt="espagne" border="0"></td>
                <td>775 km</td>
                <td>Simon & Marie</td>
            </tr>
            <tr>
                <td>Pouce d'Argent</td>
                <td>Barcelone <img src="{{asset('images/pays/esp.png')}}" alt="espagne" border="0"></td>
                <td>716 km</td>
                <td>Stevan & Thomas</td>
            </tr>
            <tr>
                <td>Pouce de Bronze</td>
                <td>Luxembourg <img src="{{asset('images/pays/lux.png')}}" alt="allemagne" border="0"></td>
                <td>630 km</td>
                <td>Clément & Yannick</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Pampelona <img src="{{asset('images/pays/esp.png')}}" alt="pays-bas" border="0"></td>
                <td>497 km</td>
                <td>Emmanuel & Benoit</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Toulouse <img src="{{asset('images/pays/fra.png')}}" alt="france" border="0"></td>
                <td>457 km</td>
                <td>Jennifer & Kevin</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
