{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

<h1>Edition 2004</h1>

<img src="{{asset('images/map2004.png')}}" class="responsive-img" alt="MAP" />

<p> Distances calculées à vol d'oiseau. </p>

<div class="section">
    <table class="hoverable centered">
        <thead>
            <tr>
                <th>Classement</th>
                <th>Ville</th>
                <th>km</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pouce d'Or</td>
                <td>Montpellier <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>584 km</td>
                <td>Pierre-Yves & Henri</td>
            </tr>
            <tr>
                <td>Pouce d'Argent</td>
                <td>Somain <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>498 km</td>
                <td>Youenn & Jean</td>
            </tr>
            <tr>
                <td>Pouce de Bronze</td>
                <td>Toulouse <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>457 km</td>
                <td>Antoine & Barbara</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Toulouse <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>457 km</td>
                <td>Florent & Romain</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Toulouse <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>457 km</td>
                <td>Thibault & Emanuel</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Toulouse <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>457 km</td>
                <td>Christophe & Damien</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Paris <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>343 km</td>
                <td>Charles & Damien</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Bordeaux <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>278 km</td>
                <td>Xuan-Kong & Adrien</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Tours <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>169Kms</td>
                <td>Thomas & Julien</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Paris <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>343 km (Train au retour)</td>
                <td>Etienne & Adrien</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
