{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

<h1>Edition 2006</h1>

<h3>Responsable : Thomas </h3>

<p>
    <b><u>Particularité :</u></b> Cette année, le pouce d'or s'est déroulé en même temps que le voyage à Barcelone organisé par le BDE. De ce fait, il y a eu beaucoup de désistements. 18 nantraliens y ont participé...
    <br/> Distances Calculées à vol d'oiseau.
</p>

<div class="section">
    <table class="hoverable centered">
        <thead>
            <tr>
                <th>Classement</th>
                <th>Ville</th>
                <th>km</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pouce d'Or</td>
                <td>Strasbourg <img src="{{asset('images/pays/fra.png')}}" alt="france" border="0"></td>
                <td>706 km</td>
                <td>Thomas & Benoît</td>
            </tr>
            <tr>
                <td>Pouce d'Argent</td>
                <td>Gironae <img src="{{asset('images/pays/esp.png')}}" alt="espagne" border="0"></td>
                <td>678 km</td>
                <td>Evgueni & Emilie</td>
            </tr>
            <tr>
                <td>Pouce de Bronze</td>
                <td>Figueras <img src="{{asset('images/pays/esp.png')}}" alt="espagne" border="0"></td>
                <td>656 km</td>
                <td>Guillaume & Valérie</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Béziers <img src="{{asset('images/pays/fra.png')}}" alt="france" border="0"></td>
                <td>497 km</td>
                <td>Benjamin & Laëtitia</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Béziers <img src="{{asset('images/pays/fra.png')}}" alt="france" border="0"></td>
                <td>497 km</td>
                <td>Kevin & Adèle</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Toulouse <img src="{{asset('images/pays/fra.png')}}" alt="france" border="0"></td>
                <td>445 km</td>
                <td>Julien & Hugo</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Biarritz <img src="{{asset('images/pays/fra.png')}}" alt="france" border="0"></td>
                <td>417 km</td>
                <td>Samuel & David</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Béziers <img src="{{asset('images/pays/fra.png')}}" alt="france" border="0"></td>
                <td>173 km</td>
                <td>Quentin & Maël</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Rochefort sur Loire <img src="{{asset('images/pays/fra.png')}}" alt="france" border="0"></td>
                <td>71 km</td>
                <td>Pol & Clément</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
