{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

<h1>Edition 2003</h1>

<p>
    <b><u>Particularité :</u></b> Une grande année, ils ont établis les premiers records.
    <br/> Bologne est resté numero 1 pendant 5 années de suite.
    <br/>
    <br/> Ils nous ont montrés la marche à suivre ! MERCI !
    <br/> En ces temps fondateurs, les distances étaient calculés à vol d'oiseau.
</p>

<div class="section">
    <table class="hoverable centered">
        <thead>
            <tr>
                <th>Classement</th>
                <th>Ville</th>
                <th>km</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pouce d'Or</td>
                <td>Bologne <img src="{{asset('images/pays/ita.png')}}" alt="italie" border="0"></td>
                <td>1055 km</td>
                <td>Isaure & Mathieu</td>
            </tr>
            <tr>
                <td>Pouce d'Argent</td>
                <td>Alicante <img src="{{asset('images/pays/esp.png')}}" alt="espagne" border="0"></td>
                <td>995 km</td>
                <td>Romain & Richard</td>
            </tr>
            <tr>
                <td>Pouce de Bronze</td>
                <td>Francfort <img src="{{asset('images/pays/ger.png')}}" alt="allemagne" border="0"></td>
                <td>820 km</td>
                <td>Elodie & Thimothée</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Maastricht <img src="{{asset('images/pays/ned.png')}}" alt="pays-bas" border="0"></td>
                <td>665 km</td>
                <td>Thomas & Slam</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Corogne <img src="{{asset('images/pays/esp.png')}}" alt="espagne" border="0"></td>
                <td>660 km</td>
                <td>Elodie & Thomas</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Orange <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>605 km</td>
                <td>Romain & Gautier</td>
            </tr>
            <tr>
                <td>7</td>
                <td>Andorre <img src="{{asset('images/pays/adr.png')}}" alt="andorre" border="0"></td>
                <td>600 km</td>
                <td>Léo & KikaÔ</td>
            </tr>
            <tr>
                <td>8</td>
                <td>Menen <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>510 km</td>
                <td>Muriel & Frederic</td>
            </tr>
            <tr>
                <td>9</td>
                <td>Dijon <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>490 km</td>
                <td>Charles & Damien</td>
            </tr>
            <tr>
                <td>10</td>
                <td>Toulouse <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>470 km</td>
                <td>Adrien & Thibault
                    <br/>Christophe & Yannou</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Bilbao <img src="{{asset('images/pays/esp.png')}}" alt="espagne" border="0"></td>
                <td>445 km</td>
                <td>Antoine & Etienne
                    <br/>Grégory & Rémi</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Roanne <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>445 km</td>
                <td>Sylvain & StÈphanie</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Dieppe <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>355 km</td>
                <td>Ben & Touff</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Antony <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>330 km</td>
                <td>Felipe & Rodrigo</td>
            </tr>
            <tr>
                <td>17</td>
                <td>Bordeaux <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>270 km</td>
                <td>Pierre & Adrien</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Saintes <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>175 km</td>
                <td>Vincent & Simon</td>
            </tr>
            <tr>
                <td>19</td>
                <td>Poitiers <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>165 km</td>
                <td>Cyril & Pierre</td>
            </tr>
            <tr>
                <td>20</td>
                <td>Le Mans <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>155 km</td>
                <td>Youyou & Jeannot</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
