{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

<h1>Edition 2008</h1>

<h3>Responsable : Mélanie</h3>

<p>
    <b><u>Particularité :</u></b> 2008 fut l'édition la plus incroyable que le Pouce d'Or n'est jamais connue.
    <br/> Une forte participation, 20 binômes sur 30 ont participés.
    <br/> Les limites à l'Est ont été repoussés !
    <br/> Le record datant de 2003 battu deux fois,
    <br/> Un étrange attroupement à Amsterdam.
    <br/>
    <br/> Distances à l'aide de Mappy - trajets le plus court
</p>

<div class="section">
    <table class="hoverable centered">
        <thead>
            <tr>
                <th>Classement</th>
                <th>Ville</th>
                <th>km</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pouce d'Or</td>
                <td>Linz <img src="{{asset('images/pays/aut.png')}}" alt="Autriche" border="0"></td>
                <td>1410 km</td>
                <td>GaÎlle & Olivier</td>
            </tr>
            <tr>
                <td>Pouce d'Argent</td>
                <td>Salzburg <img src="{{asset('images/pays/aut.png')}}" alt="Autriche" border="0"></td>
                <td>1362 km</td>
                <td>Romain & Florent</td>
            </tr>
            <tr>
                <td>Pouce de Bronze</td>
                <td>Munich <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0"></td>
                <td>1211 km</td>
                <td>Jonas & BenoÔt</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Juan Les Pins <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>1133 km</td>
                <td>Ludovic & Aurélien</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Barcelone <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0"></td>
                <td>960 km</td>
                <td>Axel & Aude</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays Bas" border="0"></td>
                <td>882 km</td>
                <td>Thomas & Matthieu</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays Bas" border="0"></td>
                <td>882 km</td>
                <td>Sofia & Maxime</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays Bas" border="0"></td>
                <td>882 km</td>
                <td>Thibault & MichaÎl</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays Bas" border="0"></td>
                <td>882 km</td>
                <td>Antoine & Julia</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays Bas" border="0"></td>
                <td>882 km</td>
                <td>Marie & Jean Batiste</td>
            </tr>
            <tr>
                <td>11</td>
                <td>La Jonquera <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0"></td>
                <td>825 km</td>
                <td>Guillaume & Fedi</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Breda <img src="{{asset('images/pays/ned.png')}}" alt="Pays Bas" border="0"></td>
                <td>775 km</td>
                <td>Gildas & Nicolas</td>
            </tr>
            <tr>
                <td>13</td>
                <td>Palavas Les Flots <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>742 km</td>
                <td>Pierre & Alxandre</td>
            </tr>
            <tr>
                <td>14</td>
                <td>Anvers <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>721 km</td>
                <td>Olivier & Alexis</td>
            </tr>
            <tr>
                <td>15</td>
                <td>Bruxelles <img src="{{asset('images/pays/bel.jpg')}}" alt="Belgique" border="0"></td>
                <td>675 km</td>
                <td>Sophie & Jean Camille</td>
            </tr>
            <tr>
                <td>16</td>
                <td>Lille <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>597 km</td>
                <td>Nicolas & Batiste</td>
            </tr>
            <tr>
                <td>17</td>
                <td>Toulouse <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>567 km</td>
                <td>Claire & Christophe</td>
            </tr>
            <tr>
                <td>18</td>
                <td>Saint Sebastien <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0"></td>
                <td>547 km</td>
                <td>Maxime & Martin</td>
            </tr>
            <tr>
                <td>19</td>
                <td>Luxembourg <img src="{{asset('images/pays/lux.png')}}" alt="Luxembourg" border="0"></td>
                <td>700 km (3h de retard)</td>
                <td>Camille & Charles</td>
            </tr>
            <tr>
                <td>20</td>
                <td>Paris <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>380 km</td>
                <td>Aurélien & Astrid</td>
            </tr>
            <tr>
                <td>20</td>
                <td>Paris <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>380 km</td>
                <td>Damien & Guillaume</td>
            </tr>
            <tr>
                <td>22</td>
                <td>Rouen <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>376 km</td>
                <td>Nicolas & JerÙme</td>
            </tr>
            <tr>
                <td>23</td>
                <td>Le Havre <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>376 km</td>
                <td>Aurélien & Stéphane</td>
            </tr>
            <tr>
                <td>24</td>
                <td>Saint Sebastien <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0"></td>
                <td>547 km (3h de retard)</td>
                <td>Julien & Emmanuel </td>
            </tr>
            <tr>
                <td>24</td>
                <td>Saint Sebastien <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0"></td>
                <td>547 km(3h de retard)</td>
                <td>Thomas & Maxime</td>
            </tr>
            <tr>
                <td>26</td>
                <td>Tours <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>194 km</td>
                <td>Gaspard & Vivien</td>
            </tr>
            <tr>
                <td>27</td>
                <td>Lille <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>592 km</td>
                <td>Simon & Edouard</td>
            </tr>
            <tr>
                <td>28</td>
                <td>Mont Saint-Michel <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0"></td>
                <td>374 km (7h de retard: Prix de l'Echec )</td>
                <td>Mélanie & MaÎl</td>
            </tr>
            <tr>
                <td>29</td>
                <td>Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0"></td>
                <td>882 km (40h de retard)</td>
                <td>Noé & Cédric</td>
            </tr>
            <tr>
                <td>30</td>
                <td>Ultrecht <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0"> </td>
                <td>844 km (36h de retard)</td>
                <td>Guillaume & Clément</td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
