{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

<h1>Conseils et Recommandations</h1>


<a href="{{ asset('pdf/conseils_et_recommandations.pdf') }}" target="_blank">Les Conseils et recommandation en version pdf</a>
<br/>
<a href="{{ asset('pdf/Pack_Pouce_D_OR.pdf') }}" target="_blank">Le Pack de survie du Pouceux en pdf, tout ce dont vous avez à penser pour partir en synthétisé</a>
<h2 >LA PREPARATION DU VOYAGE</h2>

Un voyage en stop se prépare, spécialement si c’est un long trajet. Vous trouverez dans cette rubrique nos conseils pour bien préparer votre voyage.

<h3> Equipement </h3>
<div class="row">
    <div class="col s12 m6">
        <p>
            Vous partez pour un week-end entier, vous allez donc avoir besoin d’un minimum d’affaires. Nous vous conseillons d’emporter <b>un sac de rando</b> dans lequel vous pourrez ranger vos affaires <b>de change</b> et <b>la bouffe</b> ainsi qu’un plus <b>petit sac</b> à dos dans lequel vous pouvez ranger les choses auxquelles vous avez <b>besoin d’accéder</b>.
        </p>
    </div>
    <div class="col s12 m6">
        <img class="materialboxed" style="max-height: 200px; height:auto; margin: 0 auto; display: block;" src="{{ asset('images/illustration_photos/7.png') }}">
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <img class="materialboxed" style="max-height: 300px; height:auto; margin: 0 auto; display: block;" src="{{ asset('images/illustration_photos/8.png') }}">
    </div>
    <div class="col s12 m6">
        <p>
            Dans le cas du Pouce d’Or, le temps risque d’être froid et pluvieux. Prévoyez des <b>vêtements de pluie</b>, voire un <b>parapluie</b> que vous pourrez accrocher au sac de rando une fois la pluie arrêtée. Conseil (qui sent le vécu) pensez à des <b>chaussettes de rechange</b>, des <b>sacs plastiques</b> pour ranger les choses humides ou protéger les choses sèches. Prévoyez également des <b>vêtements chauds</b>, vous les apprécierez grandement lorsque vous passerez 3 heures en pleine nuit sur une barrière de péage.
        </p>
    </div>
</div>
<div class="row">
    <p>
        Vous allez, pour la plupart, avoir à marcher pas mal voire beaucoup (pour traverser une ville, changer de spot, se mettre plus en sécurité) pensez donc à prendre des <b>chaussures dans lesquelles vous êtes bien</b> et avec lesquelles vous pourrez faire un peu de marche. 
    </p>
</div>

<div class="row">
    <div class="col s12 m6">
        <img class="responsive-img materialboxed" src="{{ asset('images/illustration_photos/9.png') }}">
    </div>
    <div class="col s12 m6">
        <p>
            Prenez également un <b>duvet</b>. Vous trouverez peut-être un endroit où dormir. Même lors d’une attente sur une aire d’autoroute, essayez de faire des petits sommes à tour de rôle, car <b>vous aurez besoin de force pour le retour.</b>
        </p>
    </div>
</div>

<h3>Nourriture et boissons</h3>

<div class="row">
    Vous ne savez ni où, ni quand on vous déposera, et encore moins si vous y trouverez à manger ou à boire. Il est important que vous <b>prévoyiez des réserves</b>. Prenez au moins une <b>grosse bouteille d’eau</b> et pensez à la <b>remplir</b> lors de vos haltes en station-service. Prenez également des <b>barres de céréales</b> ou des <b>gâteaux</b> (prenez des trucs qui vous feront plaisir, c’est bon pour le moral). Prenez aussi des <b>sandwichs</b>, des <b>jardinières de thon</b> ou d’autres <b>nourritures froides</b> que vous pourrez manger facilement et n’importe où (ne pas oublier une <b>fourchette</b> ou une <b>cuillère</b>, vous ne seriez pas les premiers à vous faire avoir). Vous pouvez aussi prendre <b>des trucs pour les chochos</b>. On a déjà vu des gens leur proposer des <b>croissants</b>, des <b>bonbons</b> ou des <b>gâteaux</b>, voire des <b>spécialités nantaises</b> (un petit LU ça fait toujours plaisir) !! 
</div>

<div class="row">
    <div class="col s12 m4">
        <img class="responsive-img materialboxed" src="{{ asset('images/illustration_photos/10.png') }}">
    </div>
    <div class="col s12 m4">
        <img class="responsive-img materialboxed" src="{{ asset('images/illustration_photos/11.png') }}">
    </div>
    <div class="col s12 m4">
        <img class="responsive-img materialboxed" src="{{ asset('images/illustration_photos/12.png') }}">
    </div>
</div>

<h3>Accessoires</h3>

<div class="row">
    <div class="col s12 m6">
        <p>
            Le <b>gilet jaune</b> est indispensable et obligatoire pour tout le monde. Prenez également une <b>carte routière</b>, pour pouvoir vous guider et savoir si les chauffeurs vont là où vous voulez. Elle vous servira aussi à <b>adapter votre itinéraire</b> en cours de route (vous n’irez peut-être pas jusqu’où vous aviez prévu). Vous pouvez demander des <b>cartes gratuites</b> au passage des péages. Elles ont l’avantage de présenter l’ensemble des stations-services existantes sur le réseau.
        </p>
    </div>
    <div class="col s12 m6">
        <img class="responsive-img materialboxed" src="{{ asset('images/illustration_photos/14.png') }}">
    </div>
</div>
<div class="row">
    Prenez vos <b>portables</b> (pensez à les charger à fond), mais essayez <b>d’alterner</b>. <b>N’allumez pas les deux téléphones constamment en même temps</b>, il se pourrait que vous ayez à économiser votre batterie. Prenez quand même votre <b>chargeur</b>, il y a des <b>prises électriques dans les stations-services</b> (en général dans les toilettes) ou des <b>chargeurs qui se branchent sur les prises allume-cigare</b>.
</div>
<div class="row">
    <div class="col s12 m6">
        <img class="materialboxed" style="max-height: 300px; height:auto; margin: 0 auto; display: block;" src="{{ asset('images/illustration_photos/15.png') }}">
    </div>
    <div class="col s12 m6">
        <p>
            Préparez des cartons pour faire des <b>panneaux de direction</b>. Partez avec un <b>petit stock</b> car ce n’est pas dit que vous en trouviez en route (au moins 5 c’est pas mal). Vous pouvez également prendre une pochette carton ou plastique de feuilles blanches et du scotch. Ecrivez vos directions sur la feuille et scotchez-la à la pochette. Pensez également à <b>emporter des feutres marqueurs</b> (au moins 2).
        </p>
    </div>
</div>
<div class="row">
    Vous partez pour un voyage riche en souvenirs, prenez un appareil photo pour les immortaliser et les partager dès votre retour. Vous pouvez également prendre un petit cahier de route pour noter vos anecdotes, prendre les contacts des chochos…
</div>
<div class="row">
    <div class="col s12 m6 offset-m3">
        <img class="responsive-img materialboxed" src="{{ asset('images/illustration_photos/16.png') }}">
    </div>
</div>

<h3>Soyez en Forme</h3>

<div class="row">
    <div class="col s12 m6">
        <p>
            Le Pouce d’Or est <b>une aventure fatigante</b> (voire épuisante quand vous enchainez quasiment deux nuits blanches). Il est donc très important que vous <b>partiez en forme</b>. Nous vous déconseillons donc de faire une grosse chouille la veille, même si vous avez envie de fêter votre proche départ. La fatigue physique associée à la fatigue psychologique que vous allez accumuler peut être source d’inattentions ou de manque de vigilance. N’oubliez jamais que <b>le risque zéro n’existe pas</b> (ne voyez pas ici un moyen de vous décourager du stop, bien au contraire nous vous y engageons fortement, mais de façon responsable). Une bonne nuit de sommeil et un bon petit déj’ sont recommandés.
        </p>
    </div>
    <div class="col s12 m6">
        <img class="responsive-img materialboxed" src="{{ asset('images/illustration_photos/17.png') }}">
    </div>
</div>

<h2>L'ATTENTE</h2>

<div class="row">
    <div class="col s12 m9">
        On y est, il est 09h01 passé, et vous êtes prêts à stopper. Vous avez préparé la <b>plus belle pancarte de l’histoire du stop</b> (soyez inventifs et originaux, ça plaît bien), vous <b>arborez votre plus beau sourire</b> et vous <b>tendez fièrement votre pouce droit</b>.
    </div>
    <div class="col s12 m3">
        <img class="responsive-img materialboxed" src="{{ asset('images/illustration_photos/18.png') }}">
    </div>
</div>

<div class="row">
    Déjà vingt voitures et vous êtes toujours là. Vous commencez à comprendre que <b>ça ne va pas être forcément si facile</b> (il peut très bien arriver en revanche d’être pris dès la première voiture). La <b>patience</b> est une des qualités nécessaires à l’autostoppeur et réciproquement le stop est une très bonne école pour l’apprendre. 
</div>

<div class="row">
    <div class="col s12 m6">
        <img class="materialboxed" style="max-height: 350px; height:auto; margin: 0 auto; display: block;" src="{{ asset('images/illustration_photos/19.png') }}">
    </div>
    <div class="col s12 m6">
        <p>
            <b>Gardez le moral et le sourire</b>, peu importe depuis combien de temps vous attendez, un chauffeur ne voudra pas prendre une personne qui fait la gueule. Lors du Pouce d’Or vous êtes par binôme, profitez-en pour <b>vous motiver l’un l’autre</b>. L’expérience montre que quelque soit le temps attendu, vous finirez toujours par être pris.
        </p>
        <p>
            Ceci dit, si vous poireautez à un endroit depuis des heures, il faut <b>peut-être vous remettre en cause</b>. Vous êtes peut-être mal placés, ou les gens ne comprennent pas ce que vous voulez ou encore plein d’autres raisons. Voici <b>quelques astuces pour être pris plus facilement</b>.
        </p>
    </div>
</div>

<div class="row">
    Si vous faites du stop sur le bord d’une route, votre <b>emplacement</b> est très important. Vous devez vous mettre à un endroit où vous êtes <b>en sécurité</b> et où <b>une voiture peut s’arrêter</b> <b>sans danger</b>. Vous ne devez <b>pas faire prendre de risque aux automobilistes</b>. Evitez donc les ronds-points, car les voitures arrivent vite dessus et ne peuvent pas s’y arrêter en sécurité. Préférez l’<b>entrée</b> ou la <b>sortie</b> du <b>rond-point</b> (entre 50 et 100 mètres avant ou après), sur les nationales il y a souvent de la place pour se mettre. Il faut que vous cherchiez également à vous mettre de façon à être <b>vus le plus loin possible</b>. Cela permet aux conducteurs de comprendre qu’il y a un autostoppeur, de juger s’il vous prend (il n’a que quelques secondes pour faire son choix donc à vous de le convaincre), et d’avoir le temps et la place pour s’arrêter. Vous pouvez également vous placez <b>au niveau de feux tricolores</b> car des voitures s’y arrêteront forcément et vous pourrez user de vos charmes (j’entends par là de votre magnifique sourire bien entendu) pour qu’ils vous prennent.
</div>

<div class="row">
    <div class="col s12 m6">
        <img class="responsive-img materialboxed" src="{{ asset('images/illustration_photos/20.png') }}">
    </div>
    <div class="col s12 m6">
        Une <b>bonne pancarte</b> peut être très utile. Au niveau d’un feu elle peut servir de premier moyen de communication avec les automobilistes. Les voitures restent souvent fenêtres fermées en vous voyant au feu (n’oubliez pas que certaines personnes ont peur des stoppeurs), <b>rassurez les</b> avec votre <b>pancarte</b> et votre <b>sourire</b>. Pour l’avoir expérimenté, la pancarte <b>« On est gentil »</b> fonctionne bien. De façon générale, si vous arrivez à <b>les faire rire</b>, c’est à moitié gagné (<b>chauffeur qui rit, t’es à moitié parti</b>). Il existe <b>plusieurs théories à propos des pancartes</b> : si vous mettez une ville trop loin, les personnes qui ne vont pas jusque-là ne vous prendrons pas car ils n’ont pas forcément conscience que ça peut quand même vous avancer ; mais si vous mettez une ville trop près les gens ne voudrons pas vous prendre pour se réarrêter sous peu (ceci est vrai surtout sur les grandes routes). On vous conseille plutôt de mettre le <b>numéro de la route que vous voulez prendre</b> et la <b>direction</b> en indiquant la <b>première grosse ville traversée</b> et <b>aussi la plus éloignée</b> (par exemple si vous partez de Nantes pour Paris : A11-Dir Angers/Paris).
    </div>
</div>

<div class="row">
    <div class="col s12 m6">
        <p>
            Parlons un peu de <b>stop actif/stop passif</b>. J’entends par <b>stop passif</b> le <b>stop au bord d’une</b> <b>route</b>, <b>pouce tendu </b>et<b> pancarte en évidence</b>. Le <b>stop actif</b> consiste à <b>aller directement à la rencontre des gens</b>, de leur <b>expliquer votre démarche</b>, de les <b>rassurer</b>, et de <b>leur demander directement s’ils peuvent vous avancer</b>. Ce style de stop se pratique essentiellement sur les <b>stations-services</b> ou <b>en ville</b>. Dans le cas du Pouce d’Or n’hésitez pas à leur raconter <b>pourquoi vous faite du stop</b>, l’idée d’un concours de stop fait souvent rire les gens (et chocho qui rit…).
        </p>
    </div>
    <div class="col s12 m6">
        <img class="responsive-img materialboxed" src="{{ asset('images/illustration_photos/21.png') }}">
    </div>
</div>

<h2>EN VOITURE</h2>

<div class="row">
    Vous y êtes enfin, une voiture s’arrête et vous propose de vous prendre. <b>Avant de monter</b> <b>mettez-vous d’accord avec le chocho sur</b> <b>là où il peut vous amener</b>. De plus, si vous ne le sentez pas <b>n’hésitez pas à refuser</b>, prétextant une mauvaise direction par exemple. Ne <b>prenez pas de risques inutiles</b>. Le Pouce d’Or n’est qu’un jeu. De même, <b>une fois dans une voiture</b>, si vous <b>ne sentez plus le conducteur ou si vous avez peur</b>, <b>demandez-lui de vous déposer dans le prochain endroit en sécurité</b>.
</div>

<div class="row">
    <div class="col s12 m6">
        <p>
            Heureusement, la très grande majorité des personnes qui prennent des autostoppeurs sont des personnes saines d’esprit et, souvent même, très gentilles. Certaines personnes n’hésiteront pas à faire un grand détour pour vous filer un coup de main.
        </p>
        <p>
            A vous de renvoyer la pareille. <b>Soyez toujours reconnaissants du service qu’il vous rend</b>. Si vous voyez qu’il a envie de parler, <b>tenez la conversation </b>avec lui, vous pouvez lui expliquer le Pouce d’Or par exemple.
        </p>
    </div>
    <div class="col s12 m6">
        <img class="responsive-img materialboxed" src="{{ asset('images/illustration_photos/22.png') }}">
    </div>
</div>

<div class="row">
    Avant d’arriver à destination assurez-vous qu’il vous <b>dépose dans un endroit sûr</b> et d’où <b>vous pourrez repartir facilement</b> de préférence (combien de personnes se sont faites déposer sur une bande d’arrêt d’urgence parce qu’elles ne s’étaient pas mises bien d’accord avec le chauffeur). Il vaut mieux vous arrêtez vingt kilomètres moins loin que ce qu’il pourrait vous amener mais <b>être déposé sur une grosse station-service</b>, que de continuer et être déposé sur une bande d’arrêt d’urgence ou sur un chemin paumé. Si vous êtes sur autoroute, <b>ne descendez jamais sur la bande d’arrêt d’urgence</b> (espérance de vie inférieure à 20min), même si le chauffeur vous dit qu’il sort de l’autoroute et qu’il n’y a plus d’aire de stationnement où vous déposer. <b>Sortez avec lui de l’autoroute et descendez éventuellement au péage pour reprendre quelqu’un qui rentre sur l’autoroute</b>.
</div>

<div class="row">
    <div class="col s12 m6">
        <img class="materialboxed" style="max-height: 200px; height:auto; margin: 0 auto; display: block;" src="{{ asset('images/illustration_photos/23.png') }}">
    </div>
    <div class="col s12 m6">
        <p>
            Une fois arrivés, n’oubliez pas de <b>bien remercier le conducteur</b> car l’image que vous lui laisserez pourra conditionner son avis sur les stoppeurs et sur le fait d’en reprendre ou non.
        </p>
    </div>
</div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.materialboxed').materialbox();
          });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/conseils.css') }}" media="screen" />
{% endblock %}
