{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

    <div id="corps">

        <h1>Editions précédentes</h1>

        <img src="{{ asset('images/figueres.jpg') }}" class="panneau" alt="figures 2006" />
        <p>
            Le pouce d'or existe depuis très longtemps. Mais toute trace écrite, l'histoire donc, ne débute qu'en 2003.
            <br/> Voici donc les éditions dont la trace écrite a été retrouvée ! 
        </p>

        <ul class="bullet">
            <li><a href="{{ path('pouce_site_mot_prez_2009') }}">Mot du Prez édition 2009 (Jonas)</a></li>
            <br/>
            <li><a href="{{ path('pouce_site_classement', {'annee': 2013}) }}">Edition 2013 (Alexandre et Olivier) : Plus de 150 binomes - (France) Boulogne sur Mer (1012 km)</a></li>
            <br/>
            <li><a href="{{ path('pouce_site_classement', {'annee': 2012}) }}">Edition 2012 (Alban, Stéphane, Isa et Patou) : 102 binomes - (Pays-Bas) Amsterdam (1046 Km)</a></li>
            <br/>
            <li><a href="{{ path('pouce_site_classement', {'annee': 2011}) }}">Edition 2011 (Gautier et Anne) : 60 binomes - (Pays-Bas) Enschede (952 Km)</a></li>
            <br/>
            <li><a href="{{ path('pouce_site_classement', {'annee': 2010}) }}">Edition 2010 (Annaëlle) : 56 binomes - (Danemark) Copenhague (1576 Km)</a></li>
            <br/>
            <li><a href="{{ path('pouce_site_classement', {'annee': 2009}) }}">Edition 2009 (Jonas) : 46 binomes - (Allemagne) Munich (1211 Km)</a></li>
            <br/>
            <li><a href="{{ path('pouce_site_classement', {'annee': 2008}) }}">Edition 2008 (Mélanie) : 30 binomes - (Autriche) Linz (1400 Km)</a></li>
            <br/>
            <li><a href="#" onclick="alert('Nous n\'avons plus les résultats de 2007, veuillez nous excuser.')">Edition 2007 (Evguéni) : 22 binomes - (Allemagne) Hanovre (1120Km)</a></li>
            <br/>
            <li><a href="{{ path('pouce_site_classement', {'annee': 2006}) }}">Edition 2006 : 9 binomes - Strasbourg (700 Km)</a></li>
            <br/>
            <li><a href="{{ path('pouce_site_classement', {'annee': 2005}) }}">Edition 2005 : 5 binomes - (Espagne) Madrid (775 Km)</a></li>
            <br/>
            <li><a href="{{ path('pouce_site_classement', {'annee': 2004}) }}">Edition 2004 : 10 binomes - Montpellier (585 Km)</a></li>
            <br/>
            <li><a href="{{ path('pouce_site_classement', {'annee': 2003}) }}">Edition 2003 : 20 binomes - (Italie) Bologne (1200 Km)</a></li>
        </ul>
        
    </div>

{% endblock %}
