{% extends "PouceSiteBundle::layout.html.twig" %} 

{% block site_body %}

<div class="row">
	<h2 class="header">Les organisateurs</h2>
	<p class="caption">
		Le Pouce d'Or à débuté avec une poignée de participants. Avec l'idée d'en faire profiter un maximum d'étudiant de Centrale Nantes, xx et xx ont décidés d'en faire un évènement annuel. Au fur et à mesure des années la tradition s'est perpétuée. Il s'est étendu à de plus en plus d'écoles dans toute la France pour devenir un évènement majeur dans plusieurs établissements supérieur francais.
		<br/> C'est pour remercier les organisateurs et coordinateurs de l'évènement que cette page a été crée.
	</p>
</div>

<h2>Année 2013 - 2014 -2015</h2>

<div class="row">
	<div class="col s12 m3 center-on-small-only">
		<div class="image-container">
			<img class="responsive-img" src="{{ asset('images/membres/olivier.png') }}">
		</div>
	</div>
	<div class="col s12 m9">
		<h4 id="nomOrganisateur">Olivier Nguyen Quoc</h4>
		<p>
			Co-organisteur de 3 éditions (2013-2014-2015). Il est le webmaster du Pouce d'Or. La version utilisée aujourd'hui est le fruit de son travail.
			<br/>
			<i>Une incroyable expérience de transformer un évènement local en un évènement majeur. Nous avons passé le flambeau avec de grand espoir pour cet évènement magique</i>
			<br/>
			<br/>
			<a href="https://fr.linkedin.com/pub/olivier-nguyen-quoc/8b/164/740" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="{{ asset('images/badges/linkedin_link.png') }}" width="35" height="35" alt="Voir le profil LinkedIn de Olivier Nguyen Quoc" style="vertical-align:middle;" border="0"></span>

		  </a><a href="https://www.facebook.com/oliv.nguyen" style="text-decoration:none;"><span style="font: 80% Arial,sans-serif; color:#0783B6;"><img src="{{ asset('images/badges/facebook_link.png') }}" width="35" height="35" alt="Voir le profil Facebook de Olivier Nguyen Quoc" style="vertical-align:middle;" border="0"></span></a>
		</p>
	</div>
</div>

<h2>Année 2013</h2>

<div class="row">
	<div class="col s12 m3 center-on-small-only">
		<div class="image-container">
			<img class="circle responsive-img" src="{{ asset('images/membres/alexandre.jpg') }}">
		</div>
	</div>
	<div class="col s12 m9">
		<h4 id="nomOrganisateur">Alexandre Raguenes</h4>
		<p>
			Président de l'édition 2013 - Aventurier un brin procrastinateur, les promesses de gloire offertes par le Pouce d’Or l’ont poussé à donner le meilleur de lui-même avec son ancien camarade pouceux et ami Olivier Nguyen, pour faire du Pouce d’Or 2013 un évènement plus que jamais d’envergure nationale.
			<br/>
			<i>Ma participation au Pouce d’Or en 2012 reste l’un de mes souvenirs les plus forts de ma vie en école d’ingénieur, et son organisation en 2013 fut aussi amusante qu’enrichissante. C’est un véritable plaisir de voir évoluer cet évènement, qui est pour moi déjà incontournable !</i>
		</p>
	</div>
</div>

<h2>Année 2014</h2>

<div class="row">
	<div class="col s12 m3 center-on-small-only">
		<div class="image-container">
			<img class="circle responsive-img" src="{{ asset('images/membres/jonathan.jpg') }}">
		</div>
	</div>
	<div class="col s12 m9">
		<h4 id="nomOrganisateur">Jonathan Belliot</h4>
		<p>
			Président de l'édition 2014, l'édition de tous les dangers. Des difficultés, des nouveaux partenariats, des conflits, des succès, des records. Une édition mémorable dont la présidence m'a rendu très fier.
			<br/>
			<i>Le pouce d'or. Un nom qui fait rêver et une idée qui m'a attirée dès l'intégration dans l'école. Des organisateurs surmotivés ont donné une ampleur énorme à cette aventure et d'un point de vue personnel, un voyage très réussi. J'ai décidé de rejoindre le staff pour faire profiter à d'autres générations/promotions le plaisir et l'adrénaline que peut apporter cette expérience inoubliable. 
			Je recommande à toute personne de participer ne serait-ce qu'une fois, et même plus, au pouce d'or. Pour découvrir et développer l'autostop, une pratique qui fait de la générosité et du partage ses valeurs principales.</i>
		</p>
	</div>
</div>
<h2>Année 2015</h2>

<div class="row">
	<div class="col s12 m3 center-on-small-only">
		<div class="image-container">
			<img class="circle responsive-img" src="{{ asset('images/membres/nicolas.jpg') }}">
		</div>
	</div>
	<div class="col s12 m9">
		<h4 id="nomOrganisateur">Nicolas Campion</h4>
		<p>
			Ses ambitions de voyages vers Moscou se sont interrompues à Disneyland Paris sous la pluie. 
			(Et alors ? C’est très joli Paris sous la pluie)
			Ne baissant pas les bras, il envisage d’aller jusqu’à Casablanca l’année suivante. Mais le destin en décida autrement… La voix du peuple le pousse à prendre la présidence du Pouce d’or cette année. Il s’acquitte alors de sa noble tâche avec fièvre et ardeur afin de faire du Pouce d’or un gros événement étudiant trop bieeeen!

		</p>
	</div>
</div>

<div class="row">
	<div class="col s12 m3 center-on-small-only">
		<div class="image-container">
			<img class="circle responsive-img" src="{{ asset('images/membres/constance.jpg') }}">
		</div>
	</div>
	<div class="col s12 m9">
		<h4 id="nomOrganisateur">Constance Fourcade</h4>
		<p>
			Dynamique, sportive et motivée, c'est grâce au Pouce d'Or que j'ai découvert le stop. Avec mon binôme surmotivé, nous avons atteint Amsterdam et fait des rencontres magnifiques lors de notre première participation. Aujourd'hui, je souhaite faire découvrir cela au plus grand nombre d'étudiants possibles, d'où mon investissement dans le club. Venez, participez, c'est énoOOOorme !!!!!!
		</p>
	</div>
</div>

<div class="row">
	<div class="col s12 m3 center-on-small-only">
		<div class="image-container">
			<img class="circle responsive-img" src="{{ asset('images/membres/amaury.jpg') }}">
		</div>
	</div>
	<div class="col s12 m9">
		<h4 id="nomOrganisateur">Amaury Arlotto</h4>
		<p>
			Pôle com’ de l’édition 2015 un peu par hasard, c’est lui à l’origine du teaser pour le Pouce d’Or. Avide d’aventure, l’édition 2014 lui est apparue comme un nouveau défi à relever, avec son lot de chochos tous plus atypiques les uns que les autres.
			<br/>
			<i>Si y’a bien un événement Centralien qui m’a tout de suite interpelé en arrivant début septembre, c’est bien le Pouce d’Or, cette compétition un peu bizarre, mais particulièrement prometteuse… Et j’ai pas été déçu ! Du coup, il m’a pas fallu longtemps pour être convaincu par Nicolas de m’occuper du film de cette année, qui j’espère, donnera envie à encore plus de monde de participer !</i>
		</p>
	</div>
</div>

<div class="row">
	<div class="col s12 m3 center-on-small-only">
		<div class="image-container">
			<img class="circle responsive-img" src="{{ asset('images/membres/sean.jpg') }}">
		</div>
	</div>
	<div class="col s12 m9">
		<h4 id="nomOrganisateur">Sean Rooney</h4>
		<p>
			Pas un grand aventurier mais n'a pas pu répondre non lorsque Nicolas lui a demandé de participer à l'organisation d'un tel évènement. Son rôle dans le staff est de s'occuper de la course le jour J pour Centrale Nantes.
		</p>
	</div>
</div>

<h2>Année 2006</h2>

<div class="row">
	<div class="col s12 m3 center-on-small-only">
		<div class="image-container">
			<img class="circle responsive-img" src="{{ asset('images/binomeDefault1.png') }}">
		</div>
	</div>
	<div class="col s12 m9">
		<h4 id="nomOrganisateur">Thomas De Sainte Marie</h4>
		<p>

		</p>
	</div>
</div>

<h2>Année 2007</h2>

<div class="row">
	<div class="col s12 m3 center-on-small-only">
		<div class="image-container">
			<img class="circle responsive-img" src="{{ asset('images/binomeDefault1.png') }}">
		</div>
	</div>
	<div class="col s12 m9">
		<h4 id="nomOrganisateur">Evgueni Touliankine</h4>
		<p>

		</p>
	</div>
</div>

<div class="row">
	<div class="col s12 m3 center-on-small-only">
		<div class="image-container">
			<img class="circle responsive-img" src="{{ asset('images/binomeDefault1.png') }}">
		</div>
	</div>
	<div class="col s12 m9">
		<h4 id="nomOrganisateur">Maël Guiheneuf</h4>
		<p>

		</p>
	</div>
</div>

<h2>Année 2008</h2>

<div class="row">
	<div class="col s12 m3 center-on-small-only">
		<div class="image-container">
			<img class="circle responsive-img" src="{{ asset('images/binomeDefault1.png') }}">
		</div>
	</div>
	<div class="col s12 m9">
		<h4 id="nomOrganisateur">Mélanie Oehmichen</h4>
		<p>

		</p>
	</div>
</div>

<h2>Année 2009</h2>

<div class="row">
	<div class="col s12 m3 center-on-small-only">
		<div class="image-container">
			<img class="circle responsive-img" src="{{ asset('images/binomeDefault1.png') }}">
		</div>
	</div>
	<div class="col s12 m9">
		<h4 id="nomOrganisateur">Jonas Pardo</h4>
		<p>

		</p>
	</div>
</div>

<h2>Année 2012</h2>

<div class="row">
	<div class="col s12 m3 center-on-small-only">
		<div class="image-container">
			<img class="circle responsive-img" src="{{ asset('images/binomeDefault1.png') }}">
		</div>
	</div>
	<div class="col s12 m9">
		<h4 id="nomOrganisateur">Alban Van Den Broek</h4>
		<p>

		</p>
	</div>
</div>

<div class="row">
	<div class="col s12 m3 center-on-small-only">
		<div class="image-container">
			<img class="circle responsive-img" src="{{ asset('images/binomeDefault1.png') }}">
		</div>
	</div>
	<div class="col s12 m9">
		<h4 id="nomOrganisateur">Isabelle Thirion</h4>
		<p>

		</p>
	</div>
</div>

<div class="row">
	<div class="col s12 m3 center-on-small-only">
		<div class="image-container">
			<img class="circle responsive-img" src="{{ asset('images/binomeDefault1.png') }}">
		</div>
	</div>
	<div class="col s12 m9">
		<h4 id="nomOrganisateur">Patricia Bednarski</h4>
		<p>

		</p>
	</div>
</div>

<div class="row">
	<div class="col s12 m3 center-on-small-only">
		<div class="image-container">
			<img class="circle responsive-img" src="{{ asset('images/binomeDefault1.png') }}">
		</div>
	</div>
	<div class="col s12 m9">
		<h4 id="nomOrganisateur">Stéphane Léon</h4>
		<p>

		</p>
	</div>
</div>

{% endblock %}
