{% extends "PouceSiteBundle::layout.html.twig" %}

{% block site_body %}

<h1>Le classement</h1>

<h2>Le classement général</h2>

{# {{ dump(results) }} #}
<i class="material-icons">description</i> : Récit de leurs aventures.
<br/>
<br/>

<ul class="collapsible popout" data-collapsible="accordion">
	{% for result in results  %}
		<li>
			<div class="collapsible-header">
				{% if result.isValid == 1 %}
					{{result.rank}} 
				{% else %}
					NC
				{% endif %}
				- {{result.team.teamName|capitalize}}
				{% if result.comment != NULL %}
					<a href="{{ path('pouce_result_show',{'id': result.team.id}) }}"><i class="material-icons">description</i></a>
				{% endif %}
				<div class="secondary-content">
					{{result.position.distance / 1000 }} km - {{ result.team.users[1].school.name|capitalize }}
				</div>
			</div>
			<div class="collapsible-body">
				<div class="row">
					<br/>
					<div class="col s12 m4 center-on-small-only">
						{% for user in result.team.users %}
							<div class="col s12 m6">
				        		<img class="circle responsive-img" src="{{ ('/images/profil/' ~ user.imageName) | imagine_filter('my_thumb') }}">
				        	</div>
				        {% endfor %}
				    </div>
				    <div class="col s12 m8">
						<b> Composé de : </b>
						{% for user in result.team.users %}
							{{user.firstName|capitalize}} {{user.lastName|capitalize}} 
							{% if loop.first %}
								et
							{% endif %}
						{% endfor %}
						<br/>
						<b> Arrivé à : </b>
						{% if result.position.city is not null %}
						{{result.position.city.name|capitalize}}, {{result.position.city.country.name|capitalize}}
						{% else %}
							Pas partis
						{% endif %}

						<br/>
						Soit
						<b>{{result.position.distance / 1000 }} km</b>
						depuis
						{% for user in result.team.users %}
							{% if loop.first %}
								<b>{{user.school.city.name|capitalize}}, {{user.school.city.country.name|capitalize}}</b>
							{% endif %}
						{% endfor %}
						<br/>
						{% if result.lateness != 0 %}
							L'équipe a eu <b>{{ result.lateness }} h</b> de retard.
						{% else %}
							L'équipe n'a pas eu de retard.
						{% endif %}
						<br/>
						Donc l'équipe comptabilise <b> {{(result.position.distance / 1000) - (result.lateness * 100) }} km</b>.
						<br/> <br/>
{# 						<a href="{{ path('fos_user_registration_register') }}" class="btn waves-effect waves-light teal darken-1" alt="Je m'inscrit au Pouce d'Or 2014">Voir leur parcours</a> #}
						{% if result.comment != NULL %}
							<a href="{{ path('pouce_result_show',{'id': result.team.id}) }}" class="btn waves-effect waves-light teal darken-1" alt="Je m'inscrit au Pouce d'Or 2014">Voir leur récit</a>
						{% endif %}
					</div>
				</div>
			</div>
		</li>
	{% endfor %}
	{# 	{% endif %} #}
</ul>

<h2>Le classement par école </h2>

<ul class="collapsible popout" data-collapsible="accordion">

	{% for school in resultsSchool.1 %}
		<h4>{{ resultsSchool.0.1.1[loop.index-1].name }}</h4>
		{% for result in school  %}
			<li>
				<div class="collapsible-header">
					{% if result.isValid == 1 %}
						{{loop.index}} 
					{% else %}
						NC
					{% endif %}
					- {{result.team.teamName|capitalize}}
					{% if result.comment != NULL %}
						<a href="{{ path('pouce_result_show',{'id': result.team.id}) }}"><i class="material-icons">description</i></a>
					{% endif %}
					<div class="secondary-content">
						{{result.position.distance / 1000 }} km - {{ result.team.users[1].school.name|capitalize }}
					</div>
				</div>
				<div class="collapsible-body">
					<div class="row">
						<br/>
						<div class="col s12 m4 center-on-small-only">
							{% for user in result.team.users %}
								<div class="col s12 m6">
					        		<img class="circle responsive-img" src="{{ ('/images/profil/' ~ user.imageName) | imagine_filter('my_thumb') }}">
					        	</div>
					        {% endfor %}
					    </div>
					    <div class="col s12 m8">
							<b> Composé de : </b>
							{% for user in result.team.users %}
								{{user.firstName|capitalize}} {{user.lastName|capitalize}} 
								{% if loop.first %}
									et
								{% endif %}
							{% endfor %}
							<br/>
							<b> Arrivé à : </b>
							{% if result.position.city is not null %}
							{{result.position.city.name|capitalize}}, {{result.position.city.country.name|capitalize}}
							{% else %}
								Pas partis
							{% endif %}

							<br/>
							Soit
							<b>{{result.position.distance / 1000 }} km</b>
							depuis
							{% for user in result.team.users %}
								{% if loop.first %}
									<b>{{user.school.city.name|capitalize}}, {{user.school.city.country.name|capitalize}}</b>
								{% endif %}
							{% endfor %}
							<br/>
							{% if result.lateness != 0 %}
								L'équipe a eu <b>{{ result.lateness }} h</b> de retard.
							{% else %}
								L'équipe n'a pas eu de retard.
							{% endif %}
							<br/>
							Donc l'équipe comptabilise <b> {{(result.position.distance / 1000) - (result.lateness * 100) }} km</b>.
							<br/> <br/>
{# 							<a href="{{ path('fos_user_registration_register') }}" class="btn waves-effect waves-light teal darken-1" alt="Je m'inscrit au Pouce d'Or 2014">Voir leur parcours</a> #}
							{% if result.comment != NULL %}
								<a href="{{ path('pouce_result_show',{'id': result.team.id}) }}" class="btn waves-effect waves-light teal darken-1" alt="Je m'inscrit au Pouce d'Or 2014">Voir leur récit</a>
							{% endif %}
						</div>
					</div>
				</div>
			</li>
		{% endfor %}
	{% endfor %} 

{% endblock %}


{% block javascript %}
    {{ parent() }}

	<script>
	  $(document).ready(function(){
	    $('.collapsible').collapsible({
	      accordion : true
	    });
	  });
	</script>

{% endblock %} 