{% extends "PouceSiteBundle::layout.html.twig" %}

{% block site_body %}

<h1>Le classement</h1>

<h2>Le classement général</h2>

<table>
	<tr>
	  <th>Classement</th>
	  <th>Equipe</th> 
	  <th>Prénoms</th>
	  <th>Destination</th>
	  <th>km</th>
	  <th>Ville de départ</th>
	</tr>
	{# if results  isset  #} {# // TO CHANGE #}
		{% for result in results  %}
			<tr>
				<td>{{result.rank}}</td>
				<td>{{result.team.teamName}}</td>
				<td>
					{% for user in result.team.users %}
						{# {{user.first_name}} {{user.last_name}} //PROTECTED VALUES #}
						{% if loop.first %}
							et
						{% endif %}
					{% endfor %}
				</td>
				<td>{{result.position.city.name}}, {{result.position.city.country.name}}</td>
				<td>{{result.position.distance}} km</td>
				<td>
					{% for user in result.team.users %}
						{% if loop.first %}
							{{user.school.town}}, {{user.school.country}}
						{% endif %}
					{% endfor %}
					
				</td>
			</tr>
		{% endfor %}
	{# endif #}
</table>

<h2>Le classement par école </h2>

{% endblock %}