{% extends "PouceSiteBundle::layout.html.twig" %} 
{% block site_body %}

<h1>Le Top 25 du Pouce d'Or</h1>
<p>
    Ces 25 Teams se sont distinguées parmis les 144 Binômes ayant participé au Pouce d'Or depuis 2003
    <br> On remarquera la double performance de la Team Florent &amp; Romain : Barcelone en 2007 et Salzbourg en 2008
    <br> Et le prix de l'échec a été attribué à Nicolas &amp; Zven : Carquefou, 11 km (2009)
</p>

<table class="hoverable centered">
    <thead>
        <tr>
            <th>
                Nº
            </th>
            <th>
                Ville
            </th>
            <th>
                km
            </th>
            <th>
                Année
            </th>
            <th>
                Équipe
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Pouce d'Or
            </td>
            <td>
                Copenhague <img src="{{asset('images/pays/dan.jpg')}}" alt="Danemark" border="0">
            </td>
            <td>
                1576 km
            </td>
            <td>
                2010
            </td>
            <td>
                Kristell &amp; Félix
            </td>
        </tr>
        <tr>
            <td>
                Pouce d'Argent
            </td>
            <td>
                Linz <img src="{{asset('images/pays/aut.png')}}" alt="Autriche" border="0">
            </td>
            <td>
                1410 km
            </td>
            <td>
                2008
            </td>
            <td>
                Gaëlle &amp; Olivier
            </td>
        </tr>
        <tr>
            <td>
                Pouce de Bronze
            </td>
            <td>
                Florence <img src="{{asset('images/pays/ita.png')}}" alt="Italie" border="0">
            </td>
            <td>
                1409 km
            </td>
            <td>
                2010
            </td>
            <td>
                Rozenn &amp; Cédric
            </td>
        </tr>
        <tr>
            <td>
                4
            </td>
            <td>
                Salzbourg <img src="{{asset('images/pays/aut.png')}}" alt="Autriche" border="0">
            </td>
            <td>
                1362 km
            </td>
            <td>
                2008
            </td>
            <td>
                Florent &amp; Romain
            </td>
        </tr>
        <tr>
            <td>
                5
            </td>
            <td>
                Alicante <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0">
            </td>
            <td>
                1350 km
            </td>
            <td>
                2003
            </td>
            <td>
                Romain &amp; Richard
            </td>
        </tr>
        <tr>
            <td>
                6
            </td>
            <td>
                Bologne <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0">
            </td>
            <td>
                1290 km
            </td>
            <td>
                2003
            </td>
            <td>
                Isaure &amp; Mathieu
            </td>
        </tr>
        <tr>
            <td>
                7
            </td>
            <td>
                Hambourg <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0">
            </td>
            <td>
                1278 km
            </td>
            <td>
                2010
            </td>
            <td>
                Marie &amp; Antoine
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                Munich <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0">
            </td>
            <td>
                1211 km
            </td>
            <td>
                2008
            </td>
            <td>
                Benoït &amp; Jonas
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                Munich <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0">
            </td>
            <td>
                1211 km
            </td>
            <td>
                2009
            </td>
            <td>
                Anaëlle &amp; Tobias
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                Munich <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0">
            </td>
            <td>
                1211 km
            </td>
            <td>
                2009
            </td>
            <td>
                Loïc &amp; Angelo
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                Munich <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0">
            </td>
            <td>
                1211 km
            </td>
            <td>
                2010
            </td>
            <td>
                Farah &amp; Marc
            </td>
        </tr>
        <tr>
            <td>
                8
            </td>
            <td>
                Munich <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0">
            </td>
            <td>
                1211 km
            </td>
            <td>
                2010
            </td>
            <td>
                Aurélie &amp; Michael
            </td>
        </tr>
        <tr>
            <td>
                9
            </td>
            <td>
                Corogne <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0">
            </td>
            <td>
                1196 km
            </td>
            <td>
                2003
            </td>
            <td>
                Elodie &amp; Thomas
            </td>
        </tr>
        <tr>
            <td>
                10
            </td>
            <td>
                Arenzano <img src="{{asset('images/pays/ita.png')}}" alt="Italie" border="0">
            </td>
            <td>
                1161 km
            </td>
            <td>
                2007
            </td>
            <td>
                Alexandre &amp; Clément
            </td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>
                Menton <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0">
            </td>
            <td>
                1159 km
            </td>
            <td>
                2007
            </td>
            <td>
                Guillaume &amp; Audrey
            </td>
        </tr>
        <tr>
            <td>
                12
            </td>
            <td>
                Hannovre <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0">
            </td>
            <td>
                1143 km
            </td>
            <td>
                2007
            </td>
            <td>
                Mélanie &amp; Boris
            </td>
        </tr>
        <tr>
            <td>
                13
            </td>
            <td>
                Juan-les-Pins <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0">
            </td>
            <td>
                1133 km
            </td>
            <td>
                2008
            </td>
            <td>
                Ludovic &amp; Aurelien
            </td>
        </tr>
        <tr>
            <td>
                14
            </td>
            <td>
                Nice <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0">
            </td>
            <td>
                1104 km
            </td>
            <td>
                2007
            </td>
            <td>
                Claire &amp; Alexandre
            </td>
        </tr>
        <tr>
            <td>
                15
            </td>
            <td>
                Singen <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0">
            </td>
            <td>
                1041 km
            </td>
            <td>
                2010
            </td>
            <td>
                Alain &amp; Loïc
            </td>
        </tr>
        <tr>
            <td>
                16
            </td>
            <td>
                Madrid <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0">
            </td>
            <td>
                1026 km
            </td>
            <td>
                2005
            </td>
            <td>
                Simon &amp; Marie
            </td>
        </tr>
        <tr>
            <td>
                17
            </td>
            <td>
                Salamanque <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0">
            </td>
            <td>
                1011 km
            </td>
            <td>
                2010
            </td>
            <td>
                Marine &amp; Pierre-Olivier
            </td>
        </tr>
        <tr>
            <td>
                18
            </td>
            <td>
                Sttutgart <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0">
            </td>
            <td>
                1001 km
            </td>
            <td>
                2009
            </td>
            <td>
                Mathieu &amp; Jeanne
            </td>
        </tr>
        <tr>
            <td>
                19
            </td>
            <td>
                Barcelone <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0">
            </td>
            <td>
                960 km
            </td>
            <td>
                2008
            </td>
            <td>
                Axel &amp; Aude
            </td>
        </tr>
        <tr>
            <td>
                19
            </td>
            <td>
                Barcelone <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0">
            </td>
            <td>
                960 km
            </td>
            <td>
                2005
            </td>
            <td>
                Thomas &amp; Stevan
            </td>
        </tr>
        <tr>
            <td>
                19
            </td>
            <td>
                Barcelone <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0">
            </td>
            <td>
                960 km
            </td>
            <td>
                2007
            </td>
            <td>
                Jeremy &amp; Gwendoline
            </td>
        </tr>
        <tr>
            <td>
                19
            </td>
            <td>
                Barcelone <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0">
            </td>
            <td>
                960 km
            </td>
            <td>
                2007
            </td>
            <td>
                Florent &amp; Romain
            </td>
        </tr>
        <tr>
            <td>
                20
            </td>
            <td>
                Marseille <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0">
            </td>
            <td>
                954 km
            </td>
            <td>
                2007
            </td>
            <td>
                Clément &amp; Emmanuel
            </td>
        </tr>
        <tr>
            <td>
                21
            </td>
            <td>
                Francfort <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0">
            </td>
            <td>
                944 km
            </td>
            <td>
                2009
            </td>
            <td>
                Maëlle &amp; Guilhem
            </td>
        </tr>
        <tr>
            <td>
                21
            </td>
            <td>
                Francfort <img src="{{asset('images/pays/ger.png')}}" alt="Allemagne" border="0">
            </td>
            <td>
                944 km
            </td>
            <td>
                2003
            </td>
            <td>
                Elodie &amp; Thimothée
            </td>
        </tr>
        <tr>
            <td>
                22
            </td>
            <td>
                Morgex <img src="{{asset('images/pays/ita.png')}}" alt="Italie" border="0">
            </td>
            <td>
                896 km
            </td>
            <td>
                2010
            </td>
            <td>
                Michel &amp; François
            </td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0">
            </td>
            <td>
                882 km
            </td>
            <td>
                2008
            </td>
            <td>
                Thomas &amp; Matthieu
            </td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0">
            </td>
            <td>
                882 km
            </td>
            <td>
                2008
            </td>
            <td>
                Maxime &amp; Sofia
            </td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0">
            </td>
            <td>
                882 km
            </td>
            <td>
                2008
            </td>
            <td>
                Michaël &amp; Thibault
            </td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0">
            </td>
            <td>
                882 km
            </td>
            <td>
                2008
            </td>
            <td>
                Julia &amp; Antoine
            </td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0">
            </td>
            <td>
                882 km
            </td>
            <td>
                2008
            </td>
            <td>
                Marie &amp; Jean-Baptiste
            </td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0">
            </td>
            <td>
                882 km
            </td>
            <td>
                2010
            </td>
            <td>
                Florent &amp; JB
            </td>
        </tr>
        <tr>
            <td>
                23
            </td>
            <td>
                Amsterdam <img src="{{asset('images/pays/ned.png')}}" alt="Pays-Bas" border="0">
            </td>
            <td>
                882 km
            </td>
            <td>
                2010
            </td>
            <td>
                Lin &amp; Gérard
            </td>
        </tr>
        <tr>
            <td>
                24
            </td>
            <td>
                Girona <img src="{{asset('images/pays/esp.png')}}" alt="Espagne" border="0">
            </td>
            <td>
                881 km
            </td>
            <td>
                2006
            </td>
            <td>
                Evgueni &amp; Emilie
            </td>
        </tr>
        <tr>
            <td>
                25
            </td>
            <td>
                Strasbourg <img src="{{asset('images/pays/fra.png')}}" alt="France" border="0">
            </td>
            <td>
                860 km
            </td>
            <td>
                2006
            </td>
            <td>
                Thomas &amp; Benoit
            </td>
        </tr>
    </tbody>
</table>

{% endblock %}
