{# On étend notre layout #}
{% extends "PouceSiteBundle::layout.html.twig" %}

{# Dans notre layout, il faut définir le block body #}
{% block site_body %}

{# 	{{ dump(teams) }} #}

<ul class="collection">
	<li class="collection-item">
		{% for team in teams %}
			<h4>
				{{team.0.teamName}}
			</h4>
			<p>
			<div class="row">
				<div class="col s12 m4 center-on-small-only">
					<div class="row">
						{% for user in team.0.users %}
							<div class="col s12 m6">
				        		<img class="circle responsive-img" src="{{ ('/images/profil/' ~ user.imageName) | imagine_filter('my_thumb') }}">
				        	</div>
				        {% endfor %}
				    </div>
				    <div class="row center-align">
				    	<a href="{{ path('pouce_site_positionaddofateam', { 'teamId': team.0.id }) }}" class="waves-effect waves-light btn-large">Ajouter leur position</a>
				    </div>
				</div>
        		{% for user in team.0.users %}
        			<div class="col s12 m4">
	        			<ul class="collection">
	        				<li class="collection-item">
	        					<h5>{{user.firstName}} {{user.lastName}}</h5>
	        				</li>
	        				<li class="collection-item">
	        					<b>Sexe :</b> {{user.sex}}
	        				</li>
	        				<li class="collection-item">
	        					<b>Telephone :</b> {{user.telephone}}
	        				</li>
	        				<li class="collection-item">
	        					<b>Promotion :</b> {{user.promotion}}
	        				</li>
	        				<li class="collection-item">
	        					<b>Email :</b> {{user.email}}
	        				</li>
	        			</ul>
        			</div>
				{% endfor %}
	        </div>

	        <div class="row">

	        	<h5>Dernière position connue</h5>

        		<div class="col s12 m5">
        			<b>Ville :</b>
        			{{ team.1.city.name }}
        			<br/>
        			<b>Pays :</b>
        			{{ team.1.city.country.name }}
        		</div>
        		<div class="col s12 m7">
        			{% if date('-3hours') > date(team.1.updated.date) %}
        				<div class="red lighten-4">
        			{% else %}
        				<div class="green lighten-4">
        			{% endif %}
	        			<b>Date de mise à jour :</b><br/>
	        			{{ team.1.updated.date | date("H:i") }}, le {{ team.1.updated.date | date("d/m/Y") }}
        			</div>
	        	</div>

	        </div>
			</p>
		{% endfor %}
	</li>
</ul>

{% endblock %}

{% block javascript %}
    {{ parent() }}

	<script>
	  $(document).ready(function(){
	    $('.collapsible').collapsible({
	      accordion : true
	    });
	  });
	</script>

{% endblock %} 