<div class="row">
	<div class="col s12 m3 center-on-small-only">
        <img id="picBox" class="circle responsive-img" src="{{ ('/images/profil/' ~ user.imageName) | imagine_filter('my_thumb') }}">
         <button id="uploadBtn" class="btn btn-large btn-primary">Changer</button>

        <div id="progressOuter" class="progress progress-striped active" style="display:none;">
            <div id="progressBar" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            </div>
        </div>
    </div>
    <div class="col s12 m9">
        <h4>{{ user.firstName }} {{ user.lastName }}</h4>
        <p>
		    Sexe : {{ user.sex }}<br/>
		    Promotion : {{ user.promotion }}<br/>
		    Email : {{ user.email }}<br/>
		    Téléphone : {{ user.telephone }}
		</p>
		<a href="{{ path('pouce_user_edit', {'id': user.id}) }}">Editer son profil (Image, informations ...)</a>
	</div>
</div>
<div class="row">
    <div class="col-xs-10">
        <div id="msgBox">
        </div>
    </div>
</div>