{# On étend notre layout #}
{% extends "PouceSiteBundle::layout.html.twig" %}

{# Dans notre layout, il faut définir le block body #}
{% block site_body %}

	<h1>Page personnel</h1>

    <div class="row">

        {% for flashMessage in app.session.flashbag.get('updateInformations') %}
            {{ flashMessage }}
        {% endfor %}

        {# Affiche les informations de l'utilisateur #}
        {{ render(controller("PouceUserBundle:User:informations")) }}

    </div>

    <div class="row">
        <div class="col s12 m6">

            {# Affiche la nouvelle course ou les résultats ou un message pour attendre la prochaine course #}
            {{ render(controller("PouceTeamBundle:Team:adaptativeView")) }}

        </div>
        
        <div class="col s12 m6">

            <h3>Résultats des courses précédentes</h3>

        </div>
    </div>

    {# TODO  #}
    {# {{ render(controller("PouceTeamBundle:Team:previousRace")) }} #}


{% endblock %}

{% block javascript %}
      {{ parent() }}

    {% javascripts filter='?yui_js'
        'js/jquery-ui.js'
        'js/autocompleter-jqueryui.js'
        'js/position.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}